SoapRequestHelper/Connected Services/ServiceTest/item21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns1="http://entity.bullhorn.com/" xmlns:tns="http://user.entity.bullhorn.com/" xmlns:ns2="http://emb.entity.bullhorn.com/" xmlns:ns3="http://types.entity.bullhorn.com/" targetNamespace="http://user.entity.bullhorn.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.bullhornstaffing.com/webservices-2.6/?xsd=21" namespace="http://entity.bullhorn.com/" />
  <xs:import schemaLocation="https://api.bullhornstaffing.com/webservices-2.6/?xsd=22" namespace="http://emb.entity.bullhorn.com/" />
  <xs:import schemaLocation="https://api.bullhornstaffing.com/webservices-2.6/?xsd=33" namespace="http://types.entity.bullhorn.com/" />
  <xs:complexType name="userTypeDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:userTypeDtoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="userTypeDtoBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="ns1:abstractDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="dateAdded" type="xs:dateTime" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="enabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="isHidden" type="xs:boolean" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="userTypeID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="personDto" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:personDtoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="personDtoBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="ns1:abstractDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="address" type="ns2:address" />
          <xs:element minOccurs="0" name="customDate1" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customDate2" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customDate3" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customFloat1" type="xs:double" />
          <xs:element minOccurs="0" name="customFloat2" type="xs:double" />
          <xs:element minOccurs="0" name="customFloat3" type="xs:double" />
          <xs:element minOccurs="0" name="customInt1" type="xs:int" />
          <xs:element minOccurs="0" name="customInt2" type="xs:int" />
          <xs:element minOccurs="0" name="customInt3" type="xs:int" />
          <xs:element minOccurs="0" name="customText1" type="xs:string" />
          <xs:element minOccurs="0" name="customText10" type="xs:string" />
          <xs:element minOccurs="0" name="customText11" type="xs:string" />
          <xs:element minOccurs="0" name="customText12" type="xs:string" />
          <xs:element minOccurs="0" name="customText13" type="xs:string" />
          <xs:element minOccurs="0" name="customText14" type="xs:string" />
          <xs:element minOccurs="0" name="customText15" type="xs:string" />
          <xs:element minOccurs="0" name="customText16" type="xs:string" />
          <xs:element minOccurs="0" name="customText17" type="xs:string" />
          <xs:element minOccurs="0" name="customText18" type="xs:string" />
          <xs:element minOccurs="0" name="customText19" type="xs:string" />
          <xs:element minOccurs="0" name="customText2" type="xs:string" />
          <xs:element minOccurs="0" name="customText20" type="xs:string" />
          <xs:element minOccurs="0" name="customText3" type="xs:string" />
          <xs:element minOccurs="0" name="customText4" type="xs:string" />
          <xs:element minOccurs="0" name="customText5" type="xs:string" />
          <xs:element minOccurs="0" name="customText6" type="xs:string" />
          <xs:element minOccurs="0" name="customText7" type="xs:string" />
          <xs:element minOccurs="0" name="customText8" type="xs:string" />
          <xs:element minOccurs="0" name="customText9" type="xs:string" />
          <xs:element minOccurs="0" name="dateLastComment" type="xs:dateTime" />
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="email2" type="xs:string" />
          <xs:element minOccurs="0" name="email3" type="xs:string" />
          <xs:element minOccurs="0" name="fax" type="xs:string" />
          <xs:element minOccurs="0" name="fax2" type="xs:string" />
          <xs:element minOccurs="0" name="fax3" type="xs:string" />
          <xs:element minOccurs="0" name="firstName" type="xs:string" />
          <xs:element minOccurs="0" name="isDayLightSavings" type="xs:boolean" />
          <xs:element minOccurs="0" name="isDeleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="isLockedOut" type="xs:boolean" />
          <xs:element minOccurs="0" name="lastName" type="xs:string" />
          <xs:element minOccurs="0" name="massMailOptOut" type="xs:boolean" />
          <xs:element minOccurs="0" name="middleName" type="xs:string" />
          <xs:element minOccurs="0" name="mobile" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="namePrefix" type="xs:string" />
          <xs:element minOccurs="0" name="nameSuffix" type="xs:string" />
          <xs:element minOccurs="0" name="nickName" type="xs:string" />
          <xs:element minOccurs="0" name="occupation" type="xs:string" />
          <xs:element minOccurs="0" name="pager" type="xs:string" />
          <xs:element minOccurs="0" name="phone" type="xs:string" />
          <xs:element minOccurs="0" name="phone2" type="xs:string" />
          <xs:element minOccurs="0" name="phone3" type="xs:string" />
          <xs:element minOccurs="0" name="smsOptIn" type="xs:boolean" />
          <xs:element minOccurs="0" name="timeZoneOffsetEST" type="xs:int" />
          <xs:element minOccurs="0" name="userDateAdded" type="xs:dateTime" />
          <xs:element minOccurs="0" name="userID" type="xs:int" />
          <xs:element minOccurs="0" name="userTypeID" type="xs:int" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="corporateUserDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:corporateUserDtoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="corporateUserDtoBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:personDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="corporationID" type="xs:int" />
          <xs:element minOccurs="0" name="emailNotify" type="xs:boolean" />
          <xs:element minOccurs="0" name="emailSignature" type="xs:string" />
          <xs:element minOccurs="0" name="enabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="externalEmail" type="xs:string" />
          <xs:element minOccurs="0" name="inboundEmailEnabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="isOutboundFaxEnabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="loginRestrictions" type="ns3:loginRestrictions" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="primaryPrivateLabelID" type="xs:int" />
          <xs:element minOccurs="0" name="reportToPersonID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="corporateUserApiAssociation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="departments" />
      <xs:enumeration value="favoriteSavedSearches" />
      <xs:enumeration value="jobAssignments" />
      <xs:enumeration value="primaryDepartment" />
      <xs:enumeration value="privateLabels" />
      <xs:enumeration value="taskAssignments" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="corporateUserApiProperty">
    <xs:restriction base="xs:string">
      <xs:enumeration value="userID" />
      <xs:enumeration value="corporationID" />
      <xs:enumeration value="emailNotify" />
      <xs:enumeration value="emailSignature" />
      <xs:enumeration value="enabled" />
      <xs:enumeration value="externalEmail" />
      <xs:enumeration value="inboundEmailEnabled" />
      <xs:enumeration value="isOutboundFaxEnabled" />
      <xs:enumeration value="loginRestrictions" />
      <xs:enumeration value="password" />
      <xs:enumeration value="primaryPrivateLabelID" />
      <xs:enumeration value="address" />
      <xs:enumeration value="customDate1" />
      <xs:enumeration value="customDate2" />
      <xs:enumeration value="customDate3" />
      <xs:enumeration value="customFloat1" />
      <xs:enumeration value="customFloat2" />
      <xs:enumeration value="customFloat3" />
      <xs:enumeration value="customInt1" />
      <xs:enumeration value="customInt2" />
      <xs:enumeration value="customInt3" />
      <xs:enumeration value="customText1" />
      <xs:enumeration value="customText10" />
      <xs:enumeration value="customText11" />
      <xs:enumeration value="customText12" />
      <xs:enumeration value="customText13" />
      <xs:enumeration value="customText14" />
      <xs:enumeration value="customText15" />
      <xs:enumeration value="customText16" />
      <xs:enumeration value="customText17" />
      <xs:enumeration value="customText18" />
      <xs:enumeration value="customText19" />
      <xs:enumeration value="customText2" />
      <xs:enumeration value="customText20" />
      <xs:enumeration value="customText3" />
      <xs:enumeration value="customText4" />
      <xs:enumeration value="customText5" />
      <xs:enumeration value="customText6" />
      <xs:enumeration value="customText7" />
      <xs:enumeration value="customText8" />
      <xs:enumeration value="customText9" />
      <xs:enumeration value="dateLastComment" />
      <xs:enumeration value="email" />
      <xs:enumeration value="email2" />
      <xs:enumeration value="email3" />
      <xs:enumeration value="fax" />
      <xs:enumeration value="fax2" />
      <xs:enumeration value="fax3" />
      <xs:enumeration value="firstName" />
      <xs:enumeration value="isDayLightSavings" />
      <xs:enumeration value="isDeleted" />
      <xs:enumeration value="isLockedOut" />
      <xs:enumeration value="lastName" />
      <xs:enumeration value="massMailOptOut" />
      <xs:enumeration value="middleName" />
      <xs:enumeration value="mobile" />
      <xs:enumeration value="name" />
      <xs:enumeration value="namePrefix" />
      <xs:enumeration value="nameSuffix" />
      <xs:enumeration value="nickName" />
      <xs:enumeration value="occupation" />
      <xs:enumeration value="pager" />
      <xs:enumeration value="phone" />
      <xs:enumeration value="phone2" />
      <xs:enumeration value="phone3" />
      <xs:enumeration value="smsOptIn" />
      <xs:enumeration value="timeZoneOffsetEST" />
      <xs:enumeration value="userTypeID" />
      <xs:enumeration value="username" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="personApiProperty">
    <xs:restriction base="xs:string">
      <xs:enumeration value="userID" />
      <xs:enumeration value="address" />
      <xs:enumeration value="customDate1" />
      <xs:enumeration value="customDate2" />
      <xs:enumeration value="customDate3" />
      <xs:enumeration value="customFloat1" />
      <xs:enumeration value="customFloat2" />
      <xs:enumeration value="customFloat3" />
      <xs:enumeration value="customInt1" />
      <xs:enumeration value="customInt2" />
      <xs:enumeration value="customInt3" />
      <xs:enumeration value="customText1" />
      <xs:enumeration value="customText10" />
      <xs:enumeration value="customText11" />
      <xs:enumeration value="customText12" />
      <xs:enumeration value="customText13" />
      <xs:enumeration value="customText14" />
      <xs:enumeration value="customText15" />
      <xs:enumeration value="customText16" />
      <xs:enumeration value="customText17" />
      <xs:enumeration value="customText18" />
      <xs:enumeration value="customText19" />
      <xs:enumeration value="customText2" />
      <xs:enumeration value="customText20" />
      <xs:enumeration value="customText3" />
      <xs:enumeration value="customText4" />
      <xs:enumeration value="customText5" />
      <xs:enumeration value="customText6" />
      <xs:enumeration value="customText7" />
      <xs:enumeration value="customText8" />
      <xs:enumeration value="customText9" />
      <xs:enumeration value="dateLastComment" />
      <xs:enumeration value="email" />
      <xs:enumeration value="email2" />
      <xs:enumeration value="email3" />
      <xs:enumeration value="status" />
      <xs:enumeration value="fax" />
      <xs:enumeration value="fax2" />
      <xs:enumeration value="fax3" />
      <xs:enumeration value="firstName" />
      <xs:enumeration value="isDayLightSavings" />
      <xs:enumeration value="isDeleted" />
      <xs:enumeration value="isLockedOut" />
      <xs:enumeration value="lastName" />
      <xs:enumeration value="massMailOptOut" />
      <xs:enumeration value="middleName" />
      <xs:enumeration value="mobile" />
      <xs:enumeration value="name" />
      <xs:enumeration value="namePrefix" />
      <xs:enumeration value="nameSuffix" />
      <xs:enumeration value="nickName" />
      <xs:enumeration value="occupation" />
      <xs:enumeration value="pager" />
      <xs:enumeration value="phone" />
      <xs:enumeration value="phone2" />
      <xs:enumeration value="phone3" />
      <xs:enumeration value="smsOptIn" />
      <xs:enumeration value="timeZoneOffsetEST" />
      <xs:enumeration value="userTypeID" />
      <xs:enumeration value="username" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="userTypeApiProperty">
    <xs:restriction base="xs:string">
      <xs:enumeration value="userTypeID" />
      <xs:enumeration value="dateAdded" />
      <xs:enumeration value="description" />
      <xs:enumeration value="enabled" />
      <xs:enumeration value="isHidden" />
      <xs:enumeration value="name" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>