SoapRequestHelper/Connected Services/ServiceTest/item26.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns1="http://emb.entity.bullhorn.com/" xmlns:tns="http://housing.entity.bullhorn.com/" xmlns:ns2="http://entity.bullhorn.com/" targetNamespace="http://housing.entity.bullhorn.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.bullhornstaffing.com/webservices-2.6/?xsd=22" namespace="http://emb.entity.bullhorn.com/" />
  <xs:import schemaLocation="https://api.bullhornstaffing.com/webservices-2.6/?xsd=21" namespace="http://entity.bullhorn.com/" />
  <xs:complexType name="housingComplexDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:housingComplexDtoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="housingComplexDtoBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="ns2:abstractDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="address" type="ns1:address" />
          <xs:element minOccurs="0" name="billingContactID" type="xs:int" />
          <xs:element minOccurs="0" name="comments" type="xs:string" />
          <xs:element minOccurs="0" name="complexManagerID" type="xs:int" />
          <xs:element minOccurs="0" name="complexOwnerID" type="xs:int" />
          <xs:element minOccurs="0" name="contactName" type="xs:string" />
          <xs:element minOccurs="0" name="customContactID1" type="xs:int" />
          <xs:element minOccurs="0" name="customContactID2" type="xs:int" />
          <xs:element minOccurs="0" name="customContactID3" type="xs:int" />
          <xs:element minOccurs="0" name="customDate1" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customDate2" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customDate3" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customFloat1" type="xs:double" />
          <xs:element minOccurs="0" name="customFloat2" type="xs:double" />
          <xs:element minOccurs="0" name="customFloat3" type="xs:double" />
          <xs:element minOccurs="0" name="customInt1" type="xs:int" />
          <xs:element minOccurs="0" name="customInt2" type="xs:int" />
          <xs:element minOccurs="0" name="customInt3" type="xs:int" />
          <xs:element minOccurs="0" name="customText1" type="xs:string" />
          <xs:element minOccurs="0" name="customText2" type="xs:string" />
          <xs:element minOccurs="0" name="customText3" type="xs:string" />
          <xs:element minOccurs="0" name="customText4" type="xs:string" />
          <xs:element minOccurs="0" name="customText5" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock1" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock2" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock3" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock4" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock5" type="xs:string" />
          <xs:element minOccurs="0" name="dateAdded" type="xs:dateTime" />
          <xs:element minOccurs="0" name="fax" type="xs:string" />
          <xs:element minOccurs="0" name="housingComplexID" type="xs:int" />
          <xs:element minOccurs="0" name="isDeleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="migrateGUID" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="ownerID" type="xs:int" />
          <xs:element minOccurs="0" name="phone" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="housingComplexAmenityDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:housingComplexAmenityDtoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="housingComplexAmenityDtoBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="ns2:abstractDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="amenityName" type="xs:string" />
          <xs:element minOccurs="0" name="corporationID" type="xs:int" />
          <xs:element minOccurs="0" name="dateAdded" type="xs:dateTime" />
          <xs:element minOccurs="0" name="housingComplexAmenityID" type="xs:int" />
          <xs:element minOccurs="0" name="isDeleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="migrateGUID" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="housingComplexFurnitureDeliveryDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:housingComplexFurnitureDeliveryDtoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="housingComplexFurnitureDeliveryDtoBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="ns2:abstractDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="address" type="ns1:address" />
          <xs:element minOccurs="0" name="billingContactID" type="xs:int" />
          <xs:element minOccurs="0" name="comments" type="xs:string" />
          <xs:element minOccurs="0" name="contactName" type="xs:string" />
          <xs:element minOccurs="0" name="customContactID1" type="xs:int" />
          <xs:element minOccurs="0" name="customContactID2" type="xs:int" />
          <xs:element minOccurs="0" name="customDate1" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customDate2" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customDate3" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customFloat1" type="xs:double" />
          <xs:element minOccurs="0" name="customFloat2" type="xs:double" />
          <xs:element minOccurs="0" name="customFloat3" type="xs:double" />
          <xs:element minOccurs="0" name="customInt1" type="xs:int" />
          <xs:element minOccurs="0" name="customInt2" type="xs:int" />
          <xs:element minOccurs="0" name="customInt3" type="xs:int" />
          <xs:element minOccurs="0" name="customText1" type="xs:string" />
          <xs:element minOccurs="0" name="customText2" type="xs:string" />
          <xs:element minOccurs="0" name="customText3" type="xs:string" />
          <xs:element minOccurs="0" name="customText4" type="xs:string" />
          <xs:element minOccurs="0" name="customText5" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock1" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock2" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock3" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock4" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock5" type="xs:string" />
          <xs:element minOccurs="0" name="dateAdded" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dateOfDelivery" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dateOfOrder" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dateOfPickup" type="xs:dateTime" />
          <xs:element minOccurs="0" name="fax" type="xs:string" />
          <xs:element minOccurs="0" name="housingComplexFurnitureDeliveryID" type="xs:int" />
          <xs:element minOccurs="0" name="isDeleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="migrateGUID" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="phone" type="xs:string" />
          <xs:element minOccurs="0" name="unitID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="housingComplexUnitDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:housingComplexUnitDtoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="housingComplexUnitDtoBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="ns2:abstractDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="billingContactID" type="xs:int" />
          <xs:element minOccurs="0" name="comments" type="xs:string" />
          <xs:element minOccurs="0" name="customContactID1" type="xs:int" />
          <xs:element minOccurs="0" name="customContactID2" type="xs:int" />
          <xs:element minOccurs="0" name="customDate1" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customDate2" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customDate3" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customFloat1" type="xs:double" />
          <xs:element minOccurs="0" name="customFloat2" type="xs:double" />
          <xs:element minOccurs="0" name="customFloat3" type="xs:double" />
          <xs:element minOccurs="0" name="customInt1" type="xs:int" />
          <xs:element minOccurs="0" name="customInt2" type="xs:int" />
          <xs:element minOccurs="0" name="customInt3" type="xs:int" />
          <xs:element minOccurs="0" name="customText1" type="xs:string" />
          <xs:element minOccurs="0" name="customText2" type="xs:string" />
          <xs:element minOccurs="0" name="customText3" type="xs:string" />
          <xs:element minOccurs="0" name="customText4" type="xs:string" />
          <xs:element minOccurs="0" name="customText5" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock1" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock2" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock3" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock4" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock5" type="xs:string" />
          <xs:element minOccurs="0" name="dateAdded" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dateLeaseBegin" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dateLeaseEnd" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dateOfDeposit" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dateOfRefund" type="xs:dateTime" />
          <xs:element minOccurs="0" name="firstMonthProRate" type="xs:decimal" />
          <xs:element minOccurs="0" name="housingComplexID" type="xs:int" />
          <xs:element minOccurs="0" name="housingComplexUnitID" type="xs:int" />
          <xs:element minOccurs="0" name="isDeleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="isDepositRefundable" type="xs:boolean" />
          <xs:element minOccurs="0" name="isLeaseOnFile" type="xs:boolean" />
          <xs:element minOccurs="0" name="maxOccupants" type="xs:int" />
          <xs:element minOccurs="0" name="migrateGUID" type="xs:string" />
          <xs:element minOccurs="0" name="monthlyRent" type="xs:decimal" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="occupants" type="xs:int" />
          <xs:element minOccurs="0" name="penalties" type="xs:string" />
          <xs:element minOccurs="0" name="securityDeposit" type="xs:decimal" />
          <xs:element minOccurs="0" name="unitManagerID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="housingComplexUtilityAccountDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:housingComplexUtilityAccountDtoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="housingComplexUtilityAccountDtoBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="ns2:abstractDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="accountNumber" type="xs:string" />
          <xs:element minOccurs="0" name="address" type="ns1:address" />
          <xs:element minOccurs="0" name="billingContactID" type="xs:int" />
          <xs:element minOccurs="0" name="comments" type="xs:string" />
          <xs:element minOccurs="0" name="customContactID1" type="xs:int" />
          <xs:element minOccurs="0" name="customContactID2" type="xs:int" />
          <xs:element minOccurs="0" name="customDate1" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customDate2" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customDate3" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customFloat1" type="xs:double" />
          <xs:element minOccurs="0" name="customFloat2" type="xs:double" />
          <xs:element minOccurs="0" name="customFloat3" type="xs:double" />
          <xs:element minOccurs="0" name="customInt1" type="xs:int" />
          <xs:element minOccurs="0" name="customInt2" type="xs:int" />
          <xs:element minOccurs="0" name="customInt3" type="xs:int" />
          <xs:element minOccurs="0" name="customText1" type="xs:string" />
          <xs:element minOccurs="0" name="customText2" type="xs:string" />
          <xs:element minOccurs="0" name="customText3" type="xs:string" />
          <xs:element minOccurs="0" name="customText4" type="xs:string" />
          <xs:element minOccurs="0" name="customText5" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock1" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock2" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock3" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock4" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock5" type="xs:string" />
          <xs:element minOccurs="0" name="dateAdded" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dateConnected" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dateDisconnected" type="xs:dateTime" />
          <xs:element minOccurs="0" name="deposit" type="xs:decimal" />
          <xs:element minOccurs="0" name="fax" type="xs:string" />
          <xs:element minOccurs="0" name="housingComplexUtilityAccountID" type="xs:int" />
          <xs:element minOccurs="0" name="isDeleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="migrateGUID" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="phone" type="xs:string" />
          <xs:element minOccurs="0" name="type" type="xs:string" />
          <xs:element minOccurs="0" name="unitID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="housingComplexAmenityApiAssociation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="housingComplexUnits" />
      <xs:enumeration value="housingComplexes" />
      <xs:enumeration value="placementChangeRequests" />
      <xs:enumeration value="placements" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="housingComplexAmenityApiProperty">
    <xs:restriction base="xs:string">
      <xs:enumeration value="housingComplexAmenityID" />
      <xs:enumeration value="amenityName" />
      <xs:enumeration value="corporationID" />
      <xs:enumeration value="dateAdded" />
      <xs:enumeration value="isDeleted" />
      <xs:enumeration value="migrateGUID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="housingComplexApiAssociation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="amenities" />
      <xs:enumeration value="units" />
      <xs:enumeration value="whitelistClientCorporations" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="housingComplexApiProperty">
    <xs:restriction base="xs:string">
      <xs:enumeration value="housingComplexID" />
      <xs:enumeration value="address" />
      <xs:enumeration value="billingContactID" />
      <xs:enumeration value="comments" />
      <xs:enumeration value="complexManagerID" />
      <xs:enumeration value="complexOwnerID" />
      <xs:enumeration value="contactName" />
      <xs:enumeration value="customContactID1" />
      <xs:enumeration value="customContactID2" />
      <xs:enumeration value="customContactID3" />
      <xs:enumeration value="customDate1" />
      <xs:enumeration value="customDate2" />
      <xs:enumeration value="customDate3" />
      <xs:enumeration value="customFloat1" />
      <xs:enumeration value="customFloat2" />
      <xs:enumeration value="customFloat3" />
      <xs:enumeration value="customInt1" />
      <xs:enumeration value="customInt2" />
      <xs:enumeration value="customInt3" />
      <xs:enumeration value="customText1" />
      <xs:enumeration value="customText2" />
      <xs:enumeration value="customText3" />
      <xs:enumeration value="customText4" />
      <xs:enumeration value="customText5" />
      <xs:enumeration value="customTextBlock1" />
      <xs:enumeration value="customTextBlock2" />
      <xs:enumeration value="customTextBlock3" />
      <xs:enumeration value="customTextBlock4" />
      <xs:enumeration value="customTextBlock5" />
      <xs:enumeration value="dateAdded" />
      <xs:enumeration value="fax" />
      <xs:enumeration value="isDeleted" />
      <xs:enumeration value="migrateGUID" />
      <xs:enumeration value="name" />
      <xs:enumeration value="ownerID" />
      <xs:enumeration value="phone" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="housingComplexFurnitureDeliveryApiProperty">
    <xs:restriction base="xs:string">
      <xs:enumeration value="housingComplexFurnitureDeliveryID" />
      <xs:enumeration value="address" />
      <xs:enumeration value="billingContactID" />
      <xs:enumeration value="comments" />
      <xs:enumeration value="contactName" />
      <xs:enumeration value="customContactID1" />
      <xs:enumeration value="customContactID2" />
      <xs:enumeration value="customDate1" />
      <xs:enumeration value="customDate2" />
      <xs:enumeration value="customDate3" />
      <xs:enumeration value="customFloat1" />
      <xs:enumeration value="customFloat2" />
      <xs:enumeration value="customFloat3" />
      <xs:enumeration value="customInt1" />
      <xs:enumeration value="customInt2" />
      <xs:enumeration value="customInt3" />
      <xs:enumeration value="customText1" />
      <xs:enumeration value="customText2" />
      <xs:enumeration value="customText3" />
      <xs:enumeration value="customText4" />
      <xs:enumeration value="customText5" />
      <xs:enumeration value="customTextBlock1" />
      <xs:enumeration value="customTextBlock2" />
      <xs:enumeration value="customTextBlock3" />
      <xs:enumeration value="customTextBlock4" />
      <xs:enumeration value="customTextBlock5" />
      <xs:enumeration value="dateAdded" />
      <xs:enumeration value="dateOfDelivery" />
      <xs:enumeration value="dateOfOrder" />
      <xs:enumeration value="dateOfPickup" />
      <xs:enumeration value="fax" />
      <xs:enumeration value="isDeleted" />
      <xs:enumeration value="migrateGUID" />
      <xs:enumeration value="name" />
      <xs:enumeration value="phone" />
      <xs:enumeration value="unitID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="housingComplexUnitApiAssociation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="amenities" />
      <xs:enumeration value="furnitureDeliveries" />
      <xs:enumeration value="utilityAccounts" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="housingComplexUnitApiProperty">
    <xs:restriction base="xs:string">
      <xs:enumeration value="housingComplexUnitID" />
      <xs:enumeration value="billingContactID" />
      <xs:enumeration value="comments" />
      <xs:enumeration value="customContactID1" />
      <xs:enumeration value="customContactID2" />
      <xs:enumeration value="customDate1" />
      <xs:enumeration value="customDate2" />
      <xs:enumeration value="customDate3" />
      <xs:enumeration value="customFloat1" />
      <xs:enumeration value="customFloat2" />
      <xs:enumeration value="customFloat3" />
      <xs:enumeration value="customInt1" />
      <xs:enumeration value="customInt2" />
      <xs:enumeration value="customInt3" />
      <xs:enumeration value="customText1" />
      <xs:enumeration value="customText2" />
      <xs:enumeration value="customText3" />
      <xs:enumeration value="customText4" />
      <xs:enumeration value="customText5" />
      <xs:enumeration value="customTextBlock1" />
      <xs:enumeration value="customTextBlock2" />
      <xs:enumeration value="customTextBlock3" />
      <xs:enumeration value="customTextBlock4" />
      <xs:enumeration value="customTextBlock5" />
      <xs:enumeration value="dateAdded" />
      <xs:enumeration value="dateLeaseBegin" />
      <xs:enumeration value="dateLeaseEnd" />
      <xs:enumeration value="dateOfDeposit" />
      <xs:enumeration value="dateOfRefund" />
      <xs:enumeration value="firstMonthProRate" />
      <xs:enumeration value="housingComplexID" />
      <xs:enumeration value="isDeleted" />
      <xs:enumeration value="isDepositRefundable" />
      <xs:enumeration value="isLeaseOnFile" />
      <xs:enumeration value="maxOccupants" />
      <xs:enumeration value="migrateGUID" />
      <xs:enumeration value="monthlyRent" />
      <xs:enumeration value="name" />
      <xs:enumeration value="penalties" />
      <xs:enumeration value="securityDeposit" />
      <xs:enumeration value="unitManagerID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="housingComplexUtilityAccountApiProperty">
    <xs:restriction base="xs:string">
      <xs:enumeration value="housingComplexUtilityAccountID" />
      <xs:enumeration value="accountNumber" />
      <xs:enumeration value="address" />
      <xs:enumeration value="billingContactID" />
      <xs:enumeration value="comments" />
      <xs:enumeration value="customContactID1" />
      <xs:enumeration value="customContactID2" />
      <xs:enumeration value="customDate1" />
      <xs:enumeration value="customDate2" />
      <xs:enumeration value="customDate3" />
      <xs:enumeration value="customFloat1" />
      <xs:enumeration value="customFloat2" />
      <xs:enumeration value="customFloat3" />
      <xs:enumeration value="customInt1" />
      <xs:enumeration value="customInt2" />
      <xs:enumeration value="customInt3" />
      <xs:enumeration value="customText1" />
      <xs:enumeration value="customText2" />
      <xs:enumeration value="customText3" />
      <xs:enumeration value="customText4" />
      <xs:enumeration value="customText5" />
      <xs:enumeration value="customTextBlock1" />
      <xs:enumeration value="customTextBlock2" />
      <xs:enumeration value="customTextBlock3" />
      <xs:enumeration value="customTextBlock4" />
      <xs:enumeration value="customTextBlock5" />
      <xs:enumeration value="dateAdded" />
      <xs:enumeration value="dateConnected" />
      <xs:enumeration value="dateDisconnected" />
      <xs:enumeration value="deposit" />
      <xs:enumeration value="fax" />
      <xs:enumeration value="isDeleted" />
      <xs:enumeration value="migrateGUID" />
      <xs:enumeration value="name" />
      <xs:enumeration value="phone" />
      <xs:enumeration value="type" />
      <xs:enumeration value="unitID" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>