SoapRequestHelper/Connected Services/ServiceTest/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns1="http://emb.entity.bullhorn.com/" xmlns:tns="http://job.entity.bullhorn.com/" xmlns:ns2="http://entity.bullhorn.com/" targetNamespace="http://job.entity.bullhorn.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.bullhornstaffing.com/webservices-2.6/?xsd=22" namespace="http://emb.entity.bullhorn.com/" />
  <xs:import schemaLocation="https://api.bullhornstaffing.com/webservices-2.6/?xsd=21" namespace="http://entity.bullhorn.com/" />
  <xs:complexType name="jobOrderDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:jobOrderDtoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="jobOrderDtoBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="ns2:abstractDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="address" type="ns1:address1" />
          <xs:element minOccurs="0" name="benefits" type="xs:string" />
          <xs:element minOccurs="0" name="billRateCategoryID" type="xs:int" />
          <xs:element minOccurs="0" name="bonusPackage" type="xs:string" />
          <xs:element minOccurs="0" name="branchCode" type="xs:string" />
          <xs:element minOccurs="0" name="certificationList" type="xs:string" />
          <xs:element minOccurs="0" name="clientBillRate" type="xs:decimal" />
          <xs:element minOccurs="0" name="clientContactID" type="xs:int" />
          <xs:element minOccurs="0" name="clientCorporationID" type="xs:int" />
          <xs:element minOccurs="0" name="correlatedCustomDate1" type="xs:dateTime" />
          <xs:element minOccurs="0" name="correlatedCustomDate2" type="xs:dateTime" />
          <xs:element minOccurs="0" name="correlatedCustomDate3" type="xs:dateTime" />
          <xs:element minOccurs="0" name="correlatedCustomFloat1" type="xs:double" />
          <xs:element minOccurs="0" name="correlatedCustomFloat2" type="xs:double" />
          <xs:element minOccurs="0" name="correlatedCustomFloat3" type="xs:double" />
          <xs:element minOccurs="0" name="correlatedCustomInt1" type="xs:int" />
          <xs:element minOccurs="0" name="correlatedCustomInt2" type="xs:int" />
          <xs:element minOccurs="0" name="correlatedCustomInt3" type="xs:int" />
          <xs:element minOccurs="0" name="correlatedCustomText1" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomText10" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomText2" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomText3" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomText4" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomText5" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomText6" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomText7" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomText8" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomText9" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomTextBlock1" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomTextBlock2" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomTextBlock3" type="xs:string" />
          <xs:element minOccurs="0" name="costCenter" type="xs:string" />
          <xs:element minOccurs="0" name="customDate1" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customDate2" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customDate3" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customFloat1" type="xs:double" />
          <xs:element minOccurs="0" name="customFloat2" type="xs:double" />
          <xs:element minOccurs="0" name="customFloat3" type="xs:double" />
          <xs:element minOccurs="0" name="customInt1" type="xs:int" />
          <xs:element minOccurs="0" name="customInt2" type="xs:int" />
          <xs:element minOccurs="0" name="customInt3" type="xs:int" />
          <xs:element minOccurs="0" name="customText1" type="xs:string" />
          <xs:element minOccurs="0" name="customText10" type="xs:string" />
          <xs:element minOccurs="0" name="customText11" type="xs:string" />
          <xs:element minOccurs="0" name="customText12" type="xs:string" />
          <xs:element minOccurs="0" name="customText13" type="xs:string" />
          <xs:element minOccurs="0" name="customText14" type="xs:string" />
          <xs:element minOccurs="0" name="customText15" type="xs:string" />
          <xs:element minOccurs="0" name="customText16" type="xs:string" />
          <xs:element minOccurs="0" name="customText17" type="xs:string" />
          <xs:element minOccurs="0" name="customText18" type="xs:string" />
          <xs:element minOccurs="0" name="customText19" type="xs:string" />
          <xs:element minOccurs="0" name="customText2" type="xs:string" />
          <xs:element minOccurs="0" name="customText20" type="xs:string" />
          <xs:element minOccurs="0" name="customText3" type="xs:string" />
          <xs:element minOccurs="0" name="customText4" type="xs:string" />
          <xs:element minOccurs="0" name="customText5" type="xs:string" />
          <xs:element minOccurs="0" name="customText6" type="xs:string" />
          <xs:element minOccurs="0" name="customText7" type="xs:string" />
          <xs:element minOccurs="0" name="customText8" type="xs:string" />
          <xs:element minOccurs="0" name="customText9" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock1" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock2" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock3" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock4" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock5" type="xs:string" />
          <xs:element minOccurs="0" name="dateAdded" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dateClosed" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dateEnd" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dateLastExported" type="xs:dateTime" />
          <xs:element minOccurs="0" name="degreeList" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="durationWeeks" type="xs:double" />
          <xs:element minOccurs="0" name="educationDegree" type="xs:string" />
          <xs:element minOccurs="0" name="employmentType" type="xs:string" />
          <xs:element minOccurs="0" name="externalCategoryID" type="xs:int" />
          <xs:element minOccurs="0" name="externalID" type="xs:string" />
          <xs:element minOccurs="0" name="feeArrangement" type="xs:double" />
          <xs:element minOccurs="0" name="hoursOfOperation" type="xs:string" />
          <xs:element minOccurs="0" name="hoursPerWeek" type="xs:double" />
          <xs:element minOccurs="0" name="isClientEditable" type="xs:boolean" />
          <xs:element minOccurs="0" name="isDeleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="isInterviewRequired" type="xs:boolean" />
          <xs:element minOccurs="0" name="isJobcastPublished" type="xs:boolean" />
          <xs:element minOccurs="0" name="isOpen" type="xs:boolean" />
          <xs:element minOccurs="0" name="isPublic" type="xs:int" />
          <xs:element minOccurs="0" name="jobBoardList" type="xs:string" />
          <xs:element minOccurs="0" name="jobOrderID" type="xs:int" />
          <xs:element minOccurs="0" name="numOpenings" type="xs:int" />
          <xs:element minOccurs="0" name="onSite" type="xs:string" />
          <xs:element minOccurs="0" name="optionsPackage" type="xs:string" />
          <xs:element minOccurs="0" name="ownerID" type="xs:int" />
          <xs:element minOccurs="0" name="payRate" type="xs:decimal" />
          <xs:element minOccurs="0" name="publicDescription" type="xs:string" />
          <xs:element minOccurs="0" name="publishedZip" type="xs:string" />
          <xs:element minOccurs="0" name="reasonClosed" type="xs:string" />
          <xs:element minOccurs="0" name="reportTo" type="xs:string" />
          <xs:element minOccurs="0" name="reportToClientContactID" type="xs:int" />
          <xs:element minOccurs="0" name="responseUserID" type="xs:int" />
          <xs:element minOccurs="0" name="salary" type="xs:decimal" />
          <xs:element minOccurs="0" name="salaryUnit" type="xs:string" />
          <xs:element minOccurs="0" name="shiftID" type="xs:int" />
          <xs:element minOccurs="0" name="skillList" type="xs:string" />
          <xs:element minOccurs="0" name="source" type="xs:string" />
          <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="status" type="xs:string" />
          <xs:element minOccurs="0" name="taxRate" type="xs:double" />
          <xs:element minOccurs="0" name="taxStatus" type="xs:string" />
          <xs:element minOccurs="0" name="title" type="xs:string" />
          <xs:element minOccurs="0" name="travelRequirements" type="xs:string" />
          <xs:element minOccurs="0" name="type" type="xs:int" />
          <xs:element minOccurs="0" name="willRelocate" type="xs:boolean" />
          <xs:element minOccurs="0" name="willSponsor" type="xs:boolean" />
          <xs:element minOccurs="0" name="workersCompRateID" type="xs:int" />
          <xs:element minOccurs="0" name="yearsRequired" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="jobSubmissionDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:jobSubmissionDtoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="jobSubmissionDtoBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="ns2:abstractDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="candidateID" type="xs:int" />
          <xs:element minOccurs="0" name="dateAdded" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dateWebResponse" type="xs:dateTime" />
          <xs:element minOccurs="0" name="isDeleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="isHidden" type="xs:boolean" />
          <xs:element minOccurs="0" name="jobOrderID" type="xs:int" />
          <xs:element minOccurs="0" name="jobSubmissionID" type="xs:int" />
          <xs:element minOccurs="0" name="migrateGUID" type="xs:string" />
          <xs:element minOccurs="0" name="sendingUserID" type="xs:int" />
          <xs:element minOccurs="0" name="source" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="placementDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:placementDtoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="placementDtoBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="ns2:abstractDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="approvingClientContactID" type="xs:int" />
          <xs:element minOccurs="0" name="backupApprovingClientContactID" type="xs:int" />
          <xs:element minOccurs="0" name="billingClientContactID" type="xs:int" />
          <xs:element minOccurs="0" name="billingFrequency" type="xs:string" />
          <xs:element minOccurs="0" name="bonusPackage" type="xs:string" />
          <xs:element minOccurs="0" name="candidateID" type="xs:int" />
          <xs:element minOccurs="0" name="clientBillRate" type="xs:double" />
          <xs:element minOccurs="0" name="clientOvertimeRate" type="xs:double" />
          <xs:element minOccurs="0" name="comments" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomDate1" type="xs:dateTime" />
          <xs:element minOccurs="0" name="correlatedCustomDate2" type="xs:dateTime" />
          <xs:element minOccurs="0" name="correlatedCustomDate3" type="xs:dateTime" />
          <xs:element minOccurs="0" name="correlatedCustomFloat1" type="xs:double" />
          <xs:element minOccurs="0" name="correlatedCustomFloat2" type="xs:double" />
          <xs:element minOccurs="0" name="correlatedCustomFloat3" type="xs:double" />
          <xs:element minOccurs="0" name="correlatedCustomInt1" type="xs:int" />
          <xs:element minOccurs="0" name="correlatedCustomInt2" type="xs:int" />
          <xs:element minOccurs="0" name="correlatedCustomInt3" type="xs:int" />
          <xs:element minOccurs="0" name="correlatedCustomText1" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomText10" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomText2" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomText3" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomText4" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomText5" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomText6" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomText7" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomText8" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomText9" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomTextBlock1" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomTextBlock2" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomTextBlock3" type="xs:string" />
          <xs:element minOccurs="0" name="costCenter" type="xs:string" />
          <xs:element minOccurs="0" name="customBillRate1" type="xs:decimal" />
          <xs:element minOccurs="0" name="customBillRate10" type="xs:decimal" />
          <xs:element minOccurs="0" name="customBillRate2" type="xs:decimal" />
          <xs:element minOccurs="0" name="customBillRate3" type="xs:decimal" />
          <xs:element minOccurs="0" name="customBillRate4" type="xs:decimal" />
          <xs:element minOccurs="0" name="customBillRate5" type="xs:decimal" />
          <xs:element minOccurs="0" name="customBillRate6" type="xs:decimal" />
          <xs:element minOccurs="0" name="customBillRate7" type="xs:decimal" />
          <xs:element minOccurs="0" name="customBillRate8" type="xs:decimal" />
          <xs:element minOccurs="0" name="customBillRate9" type="xs:decimal" />
          <xs:element minOccurs="0" name="customDate1" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customDate2" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customDate3" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customFloat1" type="xs:double" />
          <xs:element minOccurs="0" name="customFloat2" type="xs:double" />
          <xs:element minOccurs="0" name="customFloat3" type="xs:double" />
          <xs:element minOccurs="0" name="customInt1" type="xs:int" />
          <xs:element minOccurs="0" name="customInt2" type="xs:int" />
          <xs:element minOccurs="0" name="customInt3" type="xs:int" />
          <xs:element minOccurs="0" name="customPayRate1" type="xs:decimal" />
          <xs:element minOccurs="0" name="customPayRate10" type="xs:decimal" />
          <xs:element minOccurs="0" name="customPayRate2" type="xs:decimal" />
          <xs:element minOccurs="0" name="customPayRate3" type="xs:decimal" />
          <xs:element minOccurs="0" name="customPayRate4" type="xs:decimal" />
          <xs:element minOccurs="0" name="customPayRate5" type="xs:decimal" />
          <xs:element minOccurs="0" name="customPayRate6" type="xs:decimal" />
          <xs:element minOccurs="0" name="customPayRate7" type="xs:decimal" />
          <xs:element minOccurs="0" name="customPayRate8" type="xs:decimal" />
          <xs:element minOccurs="0" name="customPayRate9" type="xs:decimal" />
          <xs:element minOccurs="0" name="customText1" type="xs:string" />
          <xs:element minOccurs="0" name="customText10" type="xs:string" />
          <xs:element minOccurs="0" name="customText11" type="xs:string" />
          <xs:element minOccurs="0" name="customText12" type="xs:string" />
          <xs:element minOccurs="0" name="customText13" type="xs:string" />
          <xs:element minOccurs="0" name="customText14" type="xs:string" />
          <xs:element minOccurs="0" name="customText15" type="xs:string" />
          <xs:element minOccurs="0" name="customText16" type="xs:string" />
          <xs:element minOccurs="0" name="customText17" type="xs:string" />
          <xs:element minOccurs="0" name="customText18" type="xs:string" />
          <xs:element minOccurs="0" name="customText19" type="xs:string" />
          <xs:element minOccurs="0" name="customText2" type="xs:string" />
          <xs:element minOccurs="0" name="customText20" type="xs:string" />
          <xs:element minOccurs="0" name="customText21" type="xs:string" />
          <xs:element minOccurs="0" name="customText22" type="xs:string" />
          <xs:element minOccurs="0" name="customText23" type="xs:string" />
          <xs:element minOccurs="0" name="customText24" type="xs:string" />
          <xs:element minOccurs="0" name="customText25" type="xs:string" />
          <xs:element minOccurs="0" name="customText26" type="xs:string" />
          <xs:element minOccurs="0" name="customText27" type="xs:string" />
          <xs:element minOccurs="0" name="customText28" type="xs:string" />
          <xs:element minOccurs="0" name="customText29" type="xs:string" />
          <xs:element minOccurs="0" name="customText3" type="xs:string" />
          <xs:element minOccurs="0" name="customText30" type="xs:string" />
          <xs:element minOccurs="0" name="customText31" type="xs:string" />
          <xs:element minOccurs="0" name="customText32" type="xs:string" />
          <xs:element minOccurs="0" name="customText33" type="xs:string" />
          <xs:element minOccurs="0" name="customText34" type="xs:string" />
          <xs:element minOccurs="0" name="customText35" type="xs:string" />
          <xs:element minOccurs="0" name="customText36" type="xs:string" />
          <xs:element minOccurs="0" name="customText37" type="xs:string" />
          <xs:element minOccurs="0" name="customText38" type="xs:string" />
          <xs:element minOccurs="0" name="customText39" type="xs:string" />
          <xs:element minOccurs="0" name="customText4" type="xs:string" />
          <xs:element minOccurs="0" name="customText40" type="xs:string" />
          <xs:element minOccurs="0" name="customText5" type="xs:string" />
          <xs:element minOccurs="0" name="customText6" type="xs:string" />
          <xs:element minOccurs="0" name="customText7" type="xs:string" />
          <xs:element minOccurs="0" name="customText8" type="xs:string" />
          <xs:element minOccurs="0" name="customText9" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock1" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock2" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock3" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock4" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock5" type="xs:string" />
          <xs:element minOccurs="0" name="dateAdded" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dateBegin" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dateClientEffective" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dateEffective" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dateEnd" type="xs:dateTime" />
          <xs:element minOccurs="0" name="daysGuaranteed" type="xs:int" />
          <xs:element minOccurs="0" name="daysProRated" type="xs:int" />
          <xs:element minOccurs="0" name="durationWeeks" type="xs:double" />
          <xs:element minOccurs="0" name="employeeType" type="xs:string" />
          <xs:element minOccurs="0" name="employmentType" type="xs:string" />
          <xs:element minOccurs="0" name="fee" type="xs:double" />
          <xs:element minOccurs="0" name="hoursOfOperation" type="xs:string" />
          <xs:element minOccurs="0" name="hoursPerDay" type="xs:double" />
          <xs:element minOccurs="0" name="housingManagerID" type="xs:int" />
          <xs:element minOccurs="0" name="housingStatus" type="xs:string" />
          <xs:element minOccurs="0" name="invoiceGroupID" type="xs:int" />
          <xs:element minOccurs="0" name="invoiceGroupName" type="xs:string" />
          <xs:element minOccurs="0" name="invoiceID" type="xs:int" />
          <xs:element minOccurs="0" name="jobOrderID" type="xs:int" />
          <xs:element minOccurs="0" name="migrateGUID" type="xs:string" />
          <xs:element minOccurs="0" name="optionsPackage" type="xs:string" />
          <xs:element minOccurs="0" name="otExemption" type="xs:int" />
          <xs:element minOccurs="0" name="otherHourlyFee" type="xs:double" />
          <xs:element minOccurs="0" name="otherHourlyFeeComments" type="xs:string" />
          <xs:element minOccurs="0" name="overtimeRate" type="xs:double" />
          <xs:element minOccurs="0" name="payRate" type="xs:decimal" />
          <xs:element minOccurs="0" name="placementID" type="xs:int" />
          <xs:element minOccurs="0" name="recruitingManagerPercentGrossMargin" type="xs:double" />
          <xs:element minOccurs="0" name="referralFee" type="xs:decimal" />
          <xs:element minOccurs="0" name="referralFeeType" type="xs:string" />
          <xs:element minOccurs="0" name="reportTo" type="xs:string" />
          <xs:element minOccurs="0" name="reportedMargin" type="xs:double" />
          <xs:element minOccurs="0" name="salary" type="xs:decimal" />
          <xs:element minOccurs="0" name="salaryUnit" type="xs:string" />
          <xs:element minOccurs="0" name="salesManagerPercentGrossMargin" type="xs:double" />
          <xs:element minOccurs="0" name="shiftID" type="xs:int" />
          <xs:element minOccurs="0" name="statementClientContactID" type="xs:int" />
          <xs:element minOccurs="0" name="status" type="xs:string" />
          <xs:element minOccurs="0" name="taxRate" type="xs:double" />
          <xs:element minOccurs="0" name="taxState" type="xs:string" />
          <xs:element minOccurs="0" name="terminationReason" type="xs:string" />
          <xs:element minOccurs="0" name="vendorClientCorporationID" type="xs:int" />
          <xs:element minOccurs="0" name="workWeekStart" type="xs:int" />
          <xs:element minOccurs="0" name="workersCompensationRateID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="placementChangeRequestDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:placementChangeRequestDtoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="placementChangeRequestDtoBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="ns2:abstractDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="approvingUserID" type="xs:int" />
          <xs:element minOccurs="0" name="billingClientContactID" type="xs:int" />
          <xs:element minOccurs="0" name="billingFrequency" type="xs:string" />
          <xs:element minOccurs="0" name="bonusPackage" type="xs:string" />
          <xs:element minOccurs="0" name="clientBillRate" type="xs:double" />
          <xs:element minOccurs="0" name="clientOvertimeRate" type="xs:double" />
          <xs:element minOccurs="0" name="comments" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomDate1" type="xs:dateTime" />
          <xs:element minOccurs="0" name="correlatedCustomDate2" type="xs:dateTime" />
          <xs:element minOccurs="0" name="correlatedCustomDate3" type="xs:dateTime" />
          <xs:element minOccurs="0" name="correlatedCustomFloat1" type="xs:double" />
          <xs:element minOccurs="0" name="correlatedCustomFloat2" type="xs:double" />
          <xs:element minOccurs="0" name="correlatedCustomFloat3" type="xs:double" />
          <xs:element minOccurs="0" name="correlatedCustomInt1" type="xs:int" />
          <xs:element minOccurs="0" name="correlatedCustomInt2" type="xs:int" />
          <xs:element minOccurs="0" name="correlatedCustomInt3" type="xs:int" />
          <xs:element minOccurs="0" name="correlatedCustomText1" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomText10" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomText2" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomText3" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomText4" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomText5" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomText6" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomText7" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomText8" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomText9" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomTextBlock1" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomTextBlock2" type="xs:string" />
          <xs:element minOccurs="0" name="correlatedCustomTextBlock3" type="xs:string" />
          <xs:element minOccurs="0" name="costCenter" type="xs:string" />
          <xs:element minOccurs="0" name="customBillRate1" type="xs:decimal" />
          <xs:element minOccurs="0" name="customBillRate10" type="xs:decimal" />
          <xs:element minOccurs="0" name="customBillRate2" type="xs:decimal" />
          <xs:element minOccurs="0" name="customBillRate3" type="xs:decimal" />
          <xs:element minOccurs="0" name="customBillRate4" type="xs:decimal" />
          <xs:element minOccurs="0" name="customBillRate5" type="xs:decimal" />
          <xs:element minOccurs="0" name="customBillRate6" type="xs:decimal" />
          <xs:element minOccurs="0" name="customBillRate7" type="xs:decimal" />
          <xs:element minOccurs="0" name="customBillRate8" type="xs:decimal" />
          <xs:element minOccurs="0" name="customBillRate9" type="xs:decimal" />
          <xs:element minOccurs="0" name="customDate1" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customDate2" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customDate3" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customFloat1" type="xs:double" />
          <xs:element minOccurs="0" name="customFloat2" type="xs:double" />
          <xs:element minOccurs="0" name="customFloat3" type="xs:double" />
          <xs:element minOccurs="0" name="customInt1" type="xs:int" />
          <xs:element minOccurs="0" name="customInt2" type="xs:int" />
          <xs:element minOccurs="0" name="customInt3" type="xs:int" />
          <xs:element minOccurs="0" name="customPayRate1" type="xs:decimal" />
          <xs:element minOccurs="0" name="customPayRate10" type="xs:decimal" />
          <xs:element minOccurs="0" name="customPayRate2" type="xs:decimal" />
          <xs:element minOccurs="0" name="customPayRate3" type="xs:decimal" />
          <xs:element minOccurs="0" name="customPayRate4" type="xs:decimal" />
          <xs:element minOccurs="0" name="customPayRate5" type="xs:decimal" />
          <xs:element minOccurs="0" name="customPayRate6" type="xs:decimal" />
          <xs:element minOccurs="0" name="customPayRate7" type="xs:decimal" />
          <xs:element minOccurs="0" name="customPayRate8" type="xs:decimal" />
          <xs:element minOccurs="0" name="customPayRate9" type="xs:decimal" />
          <xs:element minOccurs="0" name="customText1" type="xs:string" />
          <xs:element minOccurs="0" name="customText10" type="xs:string" />
          <xs:element minOccurs="0" name="customText11" type="xs:string" />
          <xs:element minOccurs="0" name="customText12" type="xs:string" />
          <xs:element minOccurs="0" name="customText13" type="xs:string" />
          <xs:element minOccurs="0" name="customText14" type="xs:string" />
          <xs:element minOccurs="0" name="customText15" type="xs:string" />
          <xs:element minOccurs="0" name="customText16" type="xs:string" />
          <xs:element minOccurs="0" name="customText17" type="xs:string" />
          <xs:element minOccurs="0" name="customText18" type="xs:string" />
          <xs:element minOccurs="0" name="customText19" type="xs:string" />
          <xs:element minOccurs="0" name="customText2" type="xs:string" />
          <xs:element minOccurs="0" name="customText20" type="xs:string" />
          <xs:element minOccurs="0" name="customText21" type="xs:string" />
          <xs:element minOccurs="0" name="customText22" type="xs:string" />
          <xs:element minOccurs="0" name="customText23" type="xs:string" />
          <xs:element minOccurs="0" name="customText24" type="xs:string" />
          <xs:element minOccurs="0" name="customText25" type="xs:string" />
          <xs:element minOccurs="0" name="customText26" type="xs:string" />
          <xs:element minOccurs="0" name="customText27" type="xs:string" />
          <xs:element minOccurs="0" name="customText28" type="xs:string" />
          <xs:element minOccurs="0" name="customText29" type="xs:string" />
          <xs:element minOccurs="0" name="customText3" type="xs:string" />
          <xs:element minOccurs="0" name="customText30" type="xs:string" />
          <xs:element minOccurs="0" name="customText31" type="xs:string" />
          <xs:element minOccurs="0" name="customText32" type="xs:string" />
          <xs:element minOccurs="0" name="customText33" type="xs:string" />
          <xs:element minOccurs="0" name="customText34" type="xs:string" />
          <xs:element minOccurs="0" name="customText35" type="xs:string" />
          <xs:element minOccurs="0" name="customText36" type="xs:string" />
          <xs:element minOccurs="0" name="customText37" type="xs:string" />
          <xs:element minOccurs="0" name="customText38" type="xs:string" />
          <xs:element minOccurs="0" name="customText39" type="xs:string" />
          <xs:element minOccurs="0" name="customText4" type="xs:string" />
          <xs:element minOccurs="0" name="customText40" type="xs:string" />
          <xs:element minOccurs="0" name="customText5" type="xs:string" />
          <xs:element minOccurs="0" name="customText6" type="xs:string" />
          <xs:element minOccurs="0" name="customText7" type="xs:string" />
          <xs:element minOccurs="0" name="customText8" type="xs:string" />
          <xs:element minOccurs="0" name="customText9" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock1" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock2" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock3" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock4" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock5" type="xs:string" />
          <xs:element minOccurs="0" name="dateAdded" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dateApproved" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dateBegin" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dateClientEffective" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dateEffective" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dateEnd" type="xs:dateTime" />
          <xs:element minOccurs="0" name="daysGuaranteed" type="xs:int" />
          <xs:element minOccurs="0" name="daysProRated" type="xs:int" />
          <xs:element minOccurs="0" name="durationWeeks" type="xs:double" />
          <xs:element minOccurs="0" name="employeeType" type="xs:string" />
          <xs:element minOccurs="0" name="employmentType" type="xs:string" />
          <xs:element minOccurs="0" name="fee" type="xs:double" />
          <xs:element minOccurs="0" name="hoursOfOperation" type="xs:string" />
          <xs:element minOccurs="0" name="hoursPerDay" type="xs:double" />
          <xs:element minOccurs="0" name="housingManagerID" type="xs:int" />
          <xs:element minOccurs="0" name="housingStatus" type="xs:string" />
          <xs:element minOccurs="0" name="migrateGUID" type="xs:string" />
          <xs:element minOccurs="0" name="optionsPackage" type="xs:string" />
          <xs:element minOccurs="0" name="otExemption" type="xs:int" />
          <xs:element minOccurs="0" name="otherHourlyFee" type="xs:double" />
          <xs:element minOccurs="0" name="otherHourlyFeeComments" type="xs:string" />
          <xs:element minOccurs="0" name="overtimeRate" type="xs:double" />
          <xs:element minOccurs="0" name="payRate" type="xs:decimal" />
          <xs:element minOccurs="0" name="placementChangeRequestID" type="xs:int" />
          <xs:element minOccurs="0" name="placementID" type="xs:int" />
          <xs:element minOccurs="0" name="recruitingManagerPercentGrossMargin" type="xs:double" />
          <xs:element minOccurs="0" name="referralFee" type="xs:decimal" />
          <xs:element minOccurs="0" name="referralFeeType" type="xs:string" />
          <xs:element minOccurs="0" name="reportTo" type="xs:string" />
          <xs:element minOccurs="0" name="requestCustomDate1" type="xs:dateTime" />
          <xs:element minOccurs="0" name="requestCustomDate2" type="xs:dateTime" />
          <xs:element minOccurs="0" name="requestCustomDate3" type="xs:dateTime" />
          <xs:element minOccurs="0" name="requestCustomFloat1" type="xs:double" />
          <xs:element minOccurs="0" name="requestCustomFloat2" type="xs:double" />
          <xs:element minOccurs="0" name="requestCustomFloat3" type="xs:double" />
          <xs:element minOccurs="0" name="requestCustomInt1" type="xs:int" />
          <xs:element minOccurs="0" name="requestCustomInt2" type="xs:int" />
          <xs:element minOccurs="0" name="requestCustomInt3" type="xs:int" />
          <xs:element minOccurs="0" name="requestCustomText1" type="xs:string" />
          <xs:element minOccurs="0" name="requestCustomText10" type="xs:string" />
          <xs:element minOccurs="0" name="requestCustomText11" type="xs:string" />
          <xs:element minOccurs="0" name="requestCustomText12" type="xs:string" />
          <xs:element minOccurs="0" name="requestCustomText13" type="xs:string" />
          <xs:element minOccurs="0" name="requestCustomText14" type="xs:string" />
          <xs:element minOccurs="0" name="requestCustomText15" type="xs:string" />
          <xs:element minOccurs="0" name="requestCustomText16" type="xs:string" />
          <xs:element minOccurs="0" name="requestCustomText17" type="xs:string" />
          <xs:element minOccurs="0" name="requestCustomText18" type="xs:string" />
          <xs:element minOccurs="0" name="requestCustomText19" type="xs:string" />
          <xs:element minOccurs="0" name="requestCustomText2" type="xs:string" />
          <xs:element minOccurs="0" name="requestCustomText20" type="xs:string" />
          <xs:element minOccurs="0" name="requestCustomText3" type="xs:string" />
          <xs:element minOccurs="0" name="requestCustomText4" type="xs:string" />
          <xs:element minOccurs="0" name="requestCustomText5" type="xs:string" />
          <xs:element minOccurs="0" name="requestCustomText6" type="xs:string" />
          <xs:element minOccurs="0" name="requestCustomText7" type="xs:string" />
          <xs:element minOccurs="0" name="requestCustomText8" type="xs:string" />
          <xs:element minOccurs="0" name="requestCustomText9" type="xs:string" />
          <xs:element minOccurs="0" name="requestCustomTextBlock1" type="xs:string" />
          <xs:element minOccurs="0" name="requestCustomTextBlock2" type="xs:string" />
          <xs:element minOccurs="0" name="requestCustomTextBlock3" type="xs:string" />
          <xs:element minOccurs="0" name="requestCustomTextBlock4" type="xs:string" />
          <xs:element minOccurs="0" name="requestCustomTextBlock5" type="xs:string" />
          <xs:element minOccurs="0" name="requestStatus" type="xs:string" />
          <xs:element minOccurs="0" name="requestType" type="xs:string" />
          <xs:element minOccurs="0" name="requestingUserID" type="xs:int" />
          <xs:element minOccurs="0" name="salary" type="xs:decimal" />
          <xs:element minOccurs="0" name="salaryUnit" type="xs:string" />
          <xs:element minOccurs="0" name="salesManagerPercentGrossMargin" type="xs:double" />
          <xs:element minOccurs="0" name="statementClientContactID" type="xs:int" />
          <xs:element minOccurs="0" name="status" type="xs:string" />
          <xs:element minOccurs="0" name="terminationReason" type="xs:string" />
          <xs:element minOccurs="0" name="vendorClientCorporationID" type="xs:int" />
          <xs:element minOccurs="0" name="workWeekStart" type="xs:int" />
          <xs:element minOccurs="0" name="workersCompRateID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="placementCommissionDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:placementCommissionDtoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="placementCommissionDtoBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="ns2:abstractDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="comments" type="xs:string" />
          <xs:element minOccurs="0" name="commissionID" type="xs:int" />
          <xs:element minOccurs="0" name="commissionPercentage" type="xs:double" />
          <xs:element minOccurs="0" name="dateAdded" type="xs:dateTime" />
          <xs:element minOccurs="0" name="externalRecipient" type="xs:string" />
          <xs:element minOccurs="0" name="flatPayout" type="xs:double" />
          <xs:element minOccurs="0" name="grossMarginPercentage" type="xs:double" />
          <xs:element minOccurs="0" name="hourlyPayout" type="xs:double" />
          <xs:element minOccurs="0" name="migrateGUID" type="xs:string" />
          <xs:element minOccurs="0" name="placementID" type="xs:int" />
          <xs:element minOccurs="0" name="role" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="xs:string" />
          <xs:element minOccurs="0" name="userID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="workersCompensationDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:workersCompensationDtoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="workersCompensationDtoBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="ns2:abstractDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="state" type="xs:string" />
          <xs:element minOccurs="0" name="workersCompensationID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="workersCompensationRateDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:workersCompensationRateDtoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="workersCompensationRateDtoBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="ns2:abstractDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="compensationID" type="xs:int" />
          <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="privateLabelID" type="xs:int" />
          <xs:element minOccurs="0" name="rate" type="xs:double" />
          <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="workersCompensationRateID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="jobOrderApiAssociation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="appointments" />
      <xs:enumeration value="approvedPlacements" />
      <xs:enumeration value="assignedUsers" />
      <xs:enumeration value="businessSectors" />
      <xs:enumeration value="categories" />
      <xs:enumeration value="certifications" />
      <xs:enumeration value="interviews" />
      <xs:enumeration value="notes" />
      <xs:enumeration value="placements" />
      <xs:enumeration value="sendouts" />
      <xs:enumeration value="skills" />
      <xs:enumeration value="specialties" />
      <xs:enumeration value="submissions" />
      <xs:enumeration value="tasks" />
      <xs:enumeration value="tearsheets" />
      <xs:enumeration value="timeUnits" />
      <xs:enumeration value="userWorks" />
      <xs:enumeration value="webResponses" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="jobOrderApiProperty">
    <xs:restriction base="xs:string">
      <xs:enumeration value="jobOrderID" />
      <xs:enumeration value="address" />
      <xs:enumeration value="benefits" />
      <xs:enumeration value="billRateCategoryID" />
      <xs:enumeration value="bonusPackage" />
      <xs:enumeration value="branchCode" />
      <xs:enumeration value="certificationList" />
      <xs:enumeration value="clientBillRate" />
      <xs:enumeration value="clientContactID" />
      <xs:enumeration value="clientCorporationID" />
      <xs:enumeration value="correlatedCustomDate1" />
      <xs:enumeration value="correlatedCustomDate2" />
      <xs:enumeration value="correlatedCustomDate3" />
      <xs:enumeration value="correlatedCustomFloat1" />
      <xs:enumeration value="correlatedCustomFloat2" />
      <xs:enumeration value="correlatedCustomFloat3" />
      <xs:enumeration value="correlatedCustomInt1" />
      <xs:enumeration value="correlatedCustomInt2" />
      <xs:enumeration value="correlatedCustomInt3" />
      <xs:enumeration value="correlatedCustomText1" />
      <xs:enumeration value="correlatedCustomText10" />
      <xs:enumeration value="correlatedCustomText2" />
      <xs:enumeration value="correlatedCustomText3" />
      <xs:enumeration value="correlatedCustomText4" />
      <xs:enumeration value="correlatedCustomText5" />
      <xs:enumeration value="correlatedCustomText6" />
      <xs:enumeration value="correlatedCustomText7" />
      <xs:enumeration value="correlatedCustomText8" />
      <xs:enumeration value="correlatedCustomText9" />
      <xs:enumeration value="correlatedCustomTextBlock1" />
      <xs:enumeration value="correlatedCustomTextBlock2" />
      <xs:enumeration value="correlatedCustomTextBlock3" />
      <xs:enumeration value="costCenter" />
      <xs:enumeration value="customDate1" />
      <xs:enumeration value="customDate2" />
      <xs:enumeration value="customDate3" />
      <xs:enumeration value="customFloat1" />
      <xs:enumeration value="customFloat2" />
      <xs:enumeration value="customFloat3" />
      <xs:enumeration value="customInt1" />
      <xs:enumeration value="customInt2" />
      <xs:enumeration value="customInt3" />
      <xs:enumeration value="customText1" />
      <xs:enumeration value="customText10" />
      <xs:enumeration value="customText11" />
      <xs:enumeration value="customText12" />
      <xs:enumeration value="customText13" />
      <xs:enumeration value="customText14" />
      <xs:enumeration value="customText15" />
      <xs:enumeration value="customText16" />
      <xs:enumeration value="customText17" />
      <xs:enumeration value="customText18" />
      <xs:enumeration value="customText19" />
      <xs:enumeration value="customText2" />
      <xs:enumeration value="customText20" />
      <xs:enumeration value="customText3" />
      <xs:enumeration value="customText4" />
      <xs:enumeration value="customText5" />
      <xs:enumeration value="customText6" />
      <xs:enumeration value="customText7" />
      <xs:enumeration value="customText8" />
      <xs:enumeration value="customText9" />
      <xs:enumeration value="customTextBlock1" />
      <xs:enumeration value="customTextBlock2" />
      <xs:enumeration value="customTextBlock3" />
      <xs:enumeration value="customTextBlock4" />
      <xs:enumeration value="customTextBlock5" />
      <xs:enumeration value="dateAdded" />
      <xs:enumeration value="dateClosed" />
      <xs:enumeration value="dateEnd" />
      <xs:enumeration value="dateLastExported" />
      <xs:enumeration value="degreeList" />
      <xs:enumeration value="description" />
      <xs:enumeration value="durationWeeks" />
      <xs:enumeration value="educationDegree" />
      <xs:enumeration value="employmentType" />
      <xs:enumeration value="externalCategoryID" />
      <xs:enumeration value="externalID" />
      <xs:enumeration value="feeArrangement" />
      <xs:enumeration value="hoursOfOperation" />
      <xs:enumeration value="hoursPerWeek" />
      <xs:enumeration value="isClientEditable" />
      <xs:enumeration value="isDeleted" />
      <xs:enumeration value="isInterviewRequired" />
      <xs:enumeration value="isJobcastPublished" />
      <xs:enumeration value="isOpen" />
      <xs:enumeration value="isPublic" />
      <xs:enumeration value="jobBoardList" />
      <xs:enumeration value="numOpenings" />
      <xs:enumeration value="onSite" />
      <xs:enumeration value="optionsPackage" />
      <xs:enumeration value="ownerID" />
      <xs:enumeration value="payRate" />
      <xs:enumeration value="publicDescription" />
      <xs:enumeration value="publishedZip" />
      <xs:enumeration value="reasonClosed" />
      <xs:enumeration value="reportTo" />
      <xs:enumeration value="reportToClientContactID" />
      <xs:enumeration value="responseUserID" />
      <xs:enumeration value="salary" />
      <xs:enumeration value="salaryUnit" />
      <xs:enumeration value="shiftID" />
      <xs:enumeration value="skillList" />
      <xs:enumeration value="source" />
      <xs:enumeration value="startDate" />
      <xs:enumeration value="status" />
      <xs:enumeration value="taxRate" />
      <xs:enumeration value="taxStatus" />
      <xs:enumeration value="title" />
      <xs:enumeration value="travelRequirements" />
      <xs:enumeration value="type" />
      <xs:enumeration value="willRelocate" />
      <xs:enumeration value="willSponsor" />
      <xs:enumeration value="workersCompRateID" />
      <xs:enumeration value="yearsRequired" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="jobSubmissionApiAssociation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="appointments" />
      <xs:enumeration value="tasks" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="jobSubmissionApiProperty">
    <xs:restriction base="xs:string">
      <xs:enumeration value="jobSubmissionID" />
      <xs:enumeration value="candidateID" />
      <xs:enumeration value="dateAdded" />
      <xs:enumeration value="dateWebResponse" />
      <xs:enumeration value="isDeleted" />
      <xs:enumeration value="isHidden" />
      <xs:enumeration value="jobOrderID" />
      <xs:enumeration value="migrateGUID" />
      <xs:enumeration value="sendingUserID" />
      <xs:enumeration value="source" />
      <xs:enumeration value="status" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="placementApiAssociation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="appointments" />
      <xs:enumeration value="changeRequests" />
      <xs:enumeration value="commissions" />
      <xs:enumeration value="housingAmenities" />
      <xs:enumeration value="invoiceItems" />
      <xs:enumeration value="jobSubmission" />
      <xs:enumeration value="surveys" />
      <xs:enumeration value="tasks" />
      <xs:enumeration value="timeUnits" />
      <xs:enumeration value="timecardExpenses" />
      <xs:enumeration value="timecardTimes" />
      <xs:enumeration value="timecards" />
      <xs:enumeration value="userWorks" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="placementApiProperty">
    <xs:restriction base="xs:string">
      <xs:enumeration value="placementID" />
      <xs:enumeration value="approvingClientContactID" />
      <xs:enumeration value="backupApprovingClientContactID" />
      <xs:enumeration value="billingClientContactID" />
      <xs:enumeration value="billingFrequency" />
      <xs:enumeration value="bonusPackage" />
      <xs:enumeration value="candidateID" />
      <xs:enumeration value="clientBillRate" />
      <xs:enumeration value="clientOvertimeRate" />
      <xs:enumeration value="comments" />
      <xs:enumeration value="correlatedCustomDate1" />
      <xs:enumeration value="correlatedCustomDate2" />
      <xs:enumeration value="correlatedCustomDate3" />
      <xs:enumeration value="correlatedCustomFloat1" />
      <xs:enumeration value="correlatedCustomFloat2" />
      <xs:enumeration value="correlatedCustomFloat3" />
      <xs:enumeration value="correlatedCustomInt1" />
      <xs:enumeration value="correlatedCustomInt2" />
      <xs:enumeration value="correlatedCustomInt3" />
      <xs:enumeration value="correlatedCustomText1" />
      <xs:enumeration value="correlatedCustomText10" />
      <xs:enumeration value="correlatedCustomText2" />
      <xs:enumeration value="correlatedCustomText3" />
      <xs:enumeration value="correlatedCustomText4" />
      <xs:enumeration value="correlatedCustomText5" />
      <xs:enumeration value="correlatedCustomText6" />
      <xs:enumeration value="correlatedCustomText7" />
      <xs:enumeration value="correlatedCustomText8" />
      <xs:enumeration value="correlatedCustomText9" />
      <xs:enumeration value="correlatedCustomTextBlock1" />
      <xs:enumeration value="correlatedCustomTextBlock2" />
      <xs:enumeration value="correlatedCustomTextBlock3" />
      <xs:enumeration value="costCenter" />
      <xs:enumeration value="customBillRate1" />
      <xs:enumeration value="customBillRate10" />
      <xs:enumeration value="customBillRate2" />
      <xs:enumeration value="customBillRate3" />
      <xs:enumeration value="customBillRate4" />
      <xs:enumeration value="customBillRate5" />
      <xs:enumeration value="customBillRate6" />
      <xs:enumeration value="customBillRate7" />
      <xs:enumeration value="customBillRate8" />
      <xs:enumeration value="customBillRate9" />
      <xs:enumeration value="customDate1" />
      <xs:enumeration value="customDate2" />
      <xs:enumeration value="customDate3" />
      <xs:enumeration value="customFloat1" />
      <xs:enumeration value="customFloat2" />
      <xs:enumeration value="customFloat3" />
      <xs:enumeration value="customInt1" />
      <xs:enumeration value="customInt2" />
      <xs:enumeration value="customInt3" />
      <xs:enumeration value="customPayRate1" />
      <xs:enumeration value="customPayRate10" />
      <xs:enumeration value="customPayRate2" />
      <xs:enumeration value="customPayRate3" />
      <xs:enumeration value="customPayRate4" />
      <xs:enumeration value="customPayRate5" />
      <xs:enumeration value="customPayRate6" />
      <xs:enumeration value="customPayRate7" />
      <xs:enumeration value="customPayRate8" />
      <xs:enumeration value="customPayRate9" />
      <xs:enumeration value="customText1" />
      <xs:enumeration value="customText10" />
      <xs:enumeration value="customText11" />
      <xs:enumeration value="customText12" />
      <xs:enumeration value="customText13" />
      <xs:enumeration value="customText14" />
      <xs:enumeration value="customText15" />
      <xs:enumeration value="customText16" />
      <xs:enumeration value="customText17" />
      <xs:enumeration value="customText18" />
      <xs:enumeration value="customText19" />
      <xs:enumeration value="customText2" />
      <xs:enumeration value="customText20" />
      <xs:enumeration value="customText21" />
      <xs:enumeration value="customText22" />
      <xs:enumeration value="customText23" />
      <xs:enumeration value="customText24" />
      <xs:enumeration value="customText25" />
      <xs:enumeration value="customText26" />
      <xs:enumeration value="customText27" />
      <xs:enumeration value="customText28" />
      <xs:enumeration value="customText29" />
      <xs:enumeration value="customText3" />
      <xs:enumeration value="customText30" />
      <xs:enumeration value="customText31" />
      <xs:enumeration value="customText32" />
      <xs:enumeration value="customText33" />
      <xs:enumeration value="customText34" />
      <xs:enumeration value="customText35" />
      <xs:enumeration value="customText36" />
      <xs:enumeration value="customText37" />
      <xs:enumeration value="customText38" />
      <xs:enumeration value="customText39" />
      <xs:enumeration value="customText4" />
      <xs:enumeration value="customText40" />
      <xs:enumeration value="customText5" />
      <xs:enumeration value="customText6" />
      <xs:enumeration value="customText7" />
      <xs:enumeration value="customText8" />
      <xs:enumeration value="customText9" />
      <xs:enumeration value="customTextBlock1" />
      <xs:enumeration value="customTextBlock2" />
      <xs:enumeration value="customTextBlock3" />
      <xs:enumeration value="customTextBlock4" />
      <xs:enumeration value="customTextBlock5" />
      <xs:enumeration value="dateAdded" />
      <xs:enumeration value="dateBegin" />
      <xs:enumeration value="dateClientEffective" />
      <xs:enumeration value="dateEffective" />
      <xs:enumeration value="dateEnd" />
      <xs:enumeration value="daysGuaranteed" />
      <xs:enumeration value="daysProRated" />
      <xs:enumeration value="durationWeeks" />
      <xs:enumeration value="employeeType" />
      <xs:enumeration value="employmentType" />
      <xs:enumeration value="fee" />
      <xs:enumeration value="hoursOfOperation" />
      <xs:enumeration value="hoursPerDay" />
      <xs:enumeration value="housingManagerID" />
      <xs:enumeration value="housingStatus" />
      <xs:enumeration value="invoiceGroupID" />
      <xs:enumeration value="invoiceGroupName" />
      <xs:enumeration value="invoiceID" />
      <xs:enumeration value="jobOrderID" />
      <xs:enumeration value="migrateGUID" />
      <xs:enumeration value="optionsPackage" />
      <xs:enumeration value="otExemption" />
      <xs:enumeration value="otherHourlyFee" />
      <xs:enumeration value="otherHourlyFeeComments" />
      <xs:enumeration value="overtimeRate" />
      <xs:enumeration value="payRate" />
      <xs:enumeration value="recruitingManagerPercentGrossMargin" />
      <xs:enumeration value="referralFee" />
      <xs:enumeration value="referralFeeType" />
      <xs:enumeration value="reportTo" />
      <xs:enumeration value="reportedMargin" />
      <xs:enumeration value="salary" />
      <xs:enumeration value="salaryUnit" />
      <xs:enumeration value="salesManagerPercentGrossMargin" />
      <xs:enumeration value="shiftID" />
      <xs:enumeration value="statementClientContactID" />
      <xs:enumeration value="status" />
      <xs:enumeration value="taxRate" />
      <xs:enumeration value="taxState" />
      <xs:enumeration value="terminationReason" />
      <xs:enumeration value="vendorClientCorporationID" />
      <xs:enumeration value="workWeekStart" />
      <xs:enumeration value="workersCompensationRateID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="placementChangeRequestApiAssociation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="housingAmenities" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="placementChangeRequestApiProperty">
    <xs:restriction base="xs:string">
      <xs:enumeration value="placementChangeRequestID" />
      <xs:enumeration value="approvingUserID" />
      <xs:enumeration value="billingClientContactID" />
      <xs:enumeration value="billingFrequency" />
      <xs:enumeration value="bonusPackage" />
      <xs:enumeration value="clientBillRate" />
      <xs:enumeration value="clientOvertimeRate" />
      <xs:enumeration value="comments" />
      <xs:enumeration value="correlatedCustomDate1" />
      <xs:enumeration value="correlatedCustomDate2" />
      <xs:enumeration value="correlatedCustomDate3" />
      <xs:enumeration value="correlatedCustomFloat1" />
      <xs:enumeration value="correlatedCustomFloat2" />
      <xs:enumeration value="correlatedCustomFloat3" />
      <xs:enumeration value="correlatedCustomInt1" />
      <xs:enumeration value="correlatedCustomInt2" />
      <xs:enumeration value="correlatedCustomInt3" />
      <xs:enumeration value="correlatedCustomText1" />
      <xs:enumeration value="correlatedCustomText10" />
      <xs:enumeration value="correlatedCustomText2" />
      <xs:enumeration value="correlatedCustomText3" />
      <xs:enumeration value="correlatedCustomText4" />
      <xs:enumeration value="correlatedCustomText5" />
      <xs:enumeration value="correlatedCustomText6" />
      <xs:enumeration value="correlatedCustomText7" />
      <xs:enumeration value="correlatedCustomText8" />
      <xs:enumeration value="correlatedCustomText9" />
      <xs:enumeration value="correlatedCustomTextBlock1" />
      <xs:enumeration value="correlatedCustomTextBlock2" />
      <xs:enumeration value="correlatedCustomTextBlock3" />
      <xs:enumeration value="costCenter" />
      <xs:enumeration value="customBillRate1" />
      <xs:enumeration value="customBillRate10" />
      <xs:enumeration value="customBillRate2" />
      <xs:enumeration value="customBillRate3" />
      <xs:enumeration value="customBillRate4" />
      <xs:enumeration value="customBillRate5" />
      <xs:enumeration value="customBillRate6" />
      <xs:enumeration value="customBillRate7" />
      <xs:enumeration value="customBillRate8" />
      <xs:enumeration value="customBillRate9" />
      <xs:enumeration value="customDate1" />
      <xs:enumeration value="customDate2" />
      <xs:enumeration value="customDate3" />
      <xs:enumeration value="customFloat1" />
      <xs:enumeration value="customFloat2" />
      <xs:enumeration value="customFloat3" />
      <xs:enumeration value="customInt1" />
      <xs:enumeration value="customInt2" />
      <xs:enumeration value="customInt3" />
      <xs:enumeration value="customPayRate1" />
      <xs:enumeration value="customPayRate10" />
      <xs:enumeration value="customPayRate2" />
      <xs:enumeration value="customPayRate3" />
      <xs:enumeration value="customPayRate4" />
      <xs:enumeration value="customPayRate5" />
      <xs:enumeration value="customPayRate6" />
      <xs:enumeration value="customPayRate7" />
      <xs:enumeration value="customPayRate8" />
      <xs:enumeration value="customPayRate9" />
      <xs:enumeration value="customText1" />
      <xs:enumeration value="customText10" />
      <xs:enumeration value="customText11" />
      <xs:enumeration value="customText12" />
      <xs:enumeration value="customText13" />
      <xs:enumeration value="customText14" />
      <xs:enumeration value="customText15" />
      <xs:enumeration value="customText16" />
      <xs:enumeration value="customText17" />
      <xs:enumeration value="customText18" />
      <xs:enumeration value="customText19" />
      <xs:enumeration value="customText2" />
      <xs:enumeration value="customText20" />
      <xs:enumeration value="customText21" />
      <xs:enumeration value="customText22" />
      <xs:enumeration value="customText23" />
      <xs:enumeration value="customText24" />
      <xs:enumeration value="customText25" />
      <xs:enumeration value="customText26" />
      <xs:enumeration value="customText27" />
      <xs:enumeration value="customText28" />
      <xs:enumeration value="customText29" />
      <xs:enumeration value="customText3" />
      <xs:enumeration value="customText30" />
      <xs:enumeration value="customText31" />
      <xs:enumeration value="customText32" />
      <xs:enumeration value="customText33" />
      <xs:enumeration value="customText34" />
      <xs:enumeration value="customText35" />
      <xs:enumeration value="customText36" />
      <xs:enumeration value="customText37" />
      <xs:enumeration value="customText38" />
      <xs:enumeration value="customText39" />
      <xs:enumeration value="customText4" />
      <xs:enumeration value="customText40" />
      <xs:enumeration value="customText5" />
      <xs:enumeration value="customText6" />
      <xs:enumeration value="customText7" />
      <xs:enumeration value="customText8" />
      <xs:enumeration value="customText9" />
      <xs:enumeration value="customTextBlock1" />
      <xs:enumeration value="customTextBlock2" />
      <xs:enumeration value="customTextBlock3" />
      <xs:enumeration value="customTextBlock4" />
      <xs:enumeration value="customTextBlock5" />
      <xs:enumeration value="dateAdded" />
      <xs:enumeration value="dateApproved" />
      <xs:enumeration value="dateBegin" />
      <xs:enumeration value="dateClientEffective" />
      <xs:enumeration value="dateEffective" />
      <xs:enumeration value="dateEnd" />
      <xs:enumeration value="daysGuaranteed" />
      <xs:enumeration value="daysProRated" />
      <xs:enumeration value="durationWeeks" />
      <xs:enumeration value="employeeType" />
      <xs:enumeration value="employmentType" />
      <xs:enumeration value="fee" />
      <xs:enumeration value="hoursOfOperation" />
      <xs:enumeration value="hoursPerDay" />
      <xs:enumeration value="housingManagerID" />
      <xs:enumeration value="housingStatus" />
      <xs:enumeration value="migrateGUID" />
      <xs:enumeration value="optionsPackage" />
      <xs:enumeration value="otExemption" />
      <xs:enumeration value="otherHourlyFee" />
      <xs:enumeration value="otherHourlyFeeComments" />
      <xs:enumeration value="overtimeRate" />
      <xs:enumeration value="payRate" />
      <xs:enumeration value="placementID" />
      <xs:enumeration value="recruitingManagerPercentGrossMargin" />
      <xs:enumeration value="referralFee" />
      <xs:enumeration value="referralFeeType" />
      <xs:enumeration value="reportTo" />
      <xs:enumeration value="requestCustomDate1" />
      <xs:enumeration value="requestCustomDate2" />
      <xs:enumeration value="requestCustomDate3" />
      <xs:enumeration value="requestCustomFloat1" />
      <xs:enumeration value="requestCustomFloat2" />
      <xs:enumeration value="requestCustomFloat3" />
      <xs:enumeration value="requestCustomInt1" />
      <xs:enumeration value="requestCustomInt2" />
      <xs:enumeration value="requestCustomInt3" />
      <xs:enumeration value="requestCustomText1" />
      <xs:enumeration value="requestCustomText10" />
      <xs:enumeration value="requestCustomText11" />
      <xs:enumeration value="requestCustomText12" />
      <xs:enumeration value="requestCustomText13" />
      <xs:enumeration value="requestCustomText14" />
      <xs:enumeration value="requestCustomText15" />
      <xs:enumeration value="requestCustomText16" />
      <xs:enumeration value="requestCustomText17" />
      <xs:enumeration value="requestCustomText18" />
      <xs:enumeration value="requestCustomText19" />
      <xs:enumeration value="requestCustomText2" />
      <xs:enumeration value="requestCustomText20" />
      <xs:enumeration value="requestCustomText3" />
      <xs:enumeration value="requestCustomText4" />
      <xs:enumeration value="requestCustomText5" />
      <xs:enumeration value="requestCustomText6" />
      <xs:enumeration value="requestCustomText7" />
      <xs:enumeration value="requestCustomText8" />
      <xs:enumeration value="requestCustomText9" />
      <xs:enumeration value="requestCustomTextBlock1" />
      <xs:enumeration value="requestCustomTextBlock2" />
      <xs:enumeration value="requestCustomTextBlock3" />
      <xs:enumeration value="requestCustomTextBlock4" />
      <xs:enumeration value="requestCustomTextBlock5" />
      <xs:enumeration value="requestStatus" />
      <xs:enumeration value="requestType" />
      <xs:enumeration value="requestingUserID" />
      <xs:enumeration value="salary" />
      <xs:enumeration value="salaryUnit" />
      <xs:enumeration value="salesManagerPercentGrossMargin" />
      <xs:enumeration value="statementClientContactID" />
      <xs:enumeration value="status" />
      <xs:enumeration value="terminationReason" />
      <xs:enumeration value="vendorClientCorporationID" />
      <xs:enumeration value="workWeekStart" />
      <xs:enumeration value="workersCompRateID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="placementCommissionApiProperty">
    <xs:restriction base="xs:string">
      <xs:enumeration value="commissionID" />
      <xs:enumeration value="comments" />
      <xs:enumeration value="commissionPercentage" />
      <xs:enumeration value="dateAdded" />
      <xs:enumeration value="externalRecipient" />
      <xs:enumeration value="flatPayout" />
      <xs:enumeration value="grossMarginPercentage" />
      <xs:enumeration value="hourlyPayout" />
      <xs:enumeration value="migrateGUID" />
      <xs:enumeration value="placementID" />
      <xs:enumeration value="role" />
      <xs:enumeration value="status" />
      <xs:enumeration value="userID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="workersCompensationApiAssociation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="rates" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="workersCompensationApiProperty">
    <xs:restriction base="xs:string">
      <xs:enumeration value="workersCompensationID" />
      <xs:enumeration value="code" />
      <xs:enumeration value="description" />
      <xs:enumeration value="name" />
      <xs:enumeration value="state" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="workersCompensationRateApiProperty">
    <xs:restriction base="xs:string">
      <xs:enumeration value="workersCompensationRateID" />
      <xs:enumeration value="compensationID" />
      <xs:enumeration value="endDate" />
      <xs:enumeration value="privateLabelID" />
      <xs:enumeration value="rate" />
      <xs:enumeration value="startDate" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>