SoapRequestHelper/Connected Services/ServiceTest/item11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns1="http://apiservice.bullhorn.com/" targetNamespace="http://emb.entity.bullhorn.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.bullhornstaffing.com/webservices-2.6/?xsd=32" namespace="http://apiservice.bullhorn.com/" />
  <xs:complexType name="address">
    <xs:complexContent mixed="false">
      <xs:extension base="ns1:abstractAddress">
        <xs:sequence>
          <xs:element minOccurs="0" name="address1" type="xs:string" />
          <xs:element minOccurs="0" name="address2" type="xs:string" />
          <xs:element minOccurs="0" name="city" type="xs:string" />
          <xs:element minOccurs="0" name="countryCode" type="xs:string" />
          <xs:element minOccurs="0" name="countryID" type="xs:int" />
          <xs:element minOccurs="0" name="countryName" type="xs:string" />
          <xs:element minOccurs="0" name="state" type="xs:string" />
          <xs:element minOccurs="0" name="zip" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="addressWithoutCountry">
    <xs:complexContent mixed="false">
      <xs:extension base="ns1:abstractAddress">
        <xs:sequence>
          <xs:element minOccurs="0" name="address1" type="xs:string" />
          <xs:element minOccurs="0" name="address2" type="xs:string" />
          <xs:element minOccurs="0" name="city" type="xs:string" />
          <xs:element minOccurs="0" name="state" type="xs:string" />
          <xs:element minOccurs="0" name="zip" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="address1">
    <xs:complexContent mixed="false">
      <xs:extension base="ns1:abstractAddress">
        <xs:sequence>
          <xs:element minOccurs="0" name="address1" type="xs:string" />
          <xs:element minOccurs="0" name="city" type="xs:string" />
          <xs:element minOccurs="0" name="countryID" type="xs:int" />
          <xs:element minOccurs="0" name="state" type="xs:string" />
          <xs:element minOccurs="0" name="zip" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>