SoapRequestHelper/Connected Services/ServiceTest/item17.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns1="http://emb.entity.bullhorn.com/" xmlns:tns="http://client.entity.bullhorn.com/" xmlns:ns2="http://user.entity.bullhorn.com/" xmlns:ns3="http://entity.bullhorn.com/" targetNamespace="http://client.entity.bullhorn.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.bullhornstaffing.com/webservices-2.6/?xsd=22" namespace="http://emb.entity.bullhorn.com/" />
  <xs:import schemaLocation="https://api.bullhornstaffing.com/webservices-2.6/?xsd=23" namespace="http://user.entity.bullhorn.com/" />
  <xs:import schemaLocation="https://api.bullhornstaffing.com/webservices-2.6/?xsd=21" namespace="http://entity.bullhorn.com/" />
  <xs:complexType name="clientContactDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:clientContactDtoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="clientContactDtoBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="ns2:personDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoryID" type="xs:int" />
          <xs:element minOccurs="0" name="certifications" type="xs:string" />
          <xs:element minOccurs="0" name="clientCorporationID" type="xs:int" />
          <xs:element minOccurs="0" name="comments" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock1" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock2" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock3" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock4" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock5" type="xs:string" />
          <xs:element minOccurs="0" name="dateAdded" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dateLastVisit" type="xs:dateTime" />
          <xs:element minOccurs="0" name="deleteMe" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="desiredCategories" type="xs:string" />
          <xs:element minOccurs="0" name="desiredSkills" type="xs:string" />
          <xs:element minOccurs="0" name="desiredSpecialties" type="xs:string" />
          <xs:element minOccurs="0" name="division" type="xs:string" />
          <xs:element minOccurs="0" name="externalID" type="xs:string" />
          <xs:element minOccurs="0" name="linkedPersonID" type="xs:int" />
          <xs:element minOccurs="0" name="migrateGUID" type="xs:string" />
          <xs:element minOccurs="0" name="numEmployees" type="xs:int" />
          <xs:element minOccurs="0" name="office" type="xs:string" />
          <xs:element minOccurs="0" name="ownerID" type="xs:int" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="preferredContact" type="xs:string" />
          <xs:element minOccurs="0" name="referredByPersonID" type="xs:int" />
          <xs:element minOccurs="0" name="reportToPersonID" type="xs:int" />
          <xs:element minOccurs="0" name="secondaryAddress" type="ns1:address" />
          <xs:element minOccurs="0" name="source" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="xs:string" />
          <xs:element minOccurs="0" name="type" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="clientCorporationDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:clientCorporationDtoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="clientCorporationDtoBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="ns3:abstractDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="address" type="ns1:address" />
          <xs:element minOccurs="0" name="annualRevenue" type="xs:decimal" />
          <xs:element minOccurs="0" name="billingAddress" type="ns1:addressWithoutCountry" />
          <xs:element minOccurs="0" name="billingContact" type="xs:string" />
          <xs:element minOccurs="0" name="billingFrequency" type="xs:string" />
          <xs:element minOccurs="0" name="billingPhone" type="xs:string" />
          <xs:element minOccurs="0" name="businessSectorList" type="xs:string" />
          <xs:element minOccurs="0" name="clientCorporationID" type="xs:int" />
          <xs:element minOccurs="0" name="companyDescription" type="xs:string" />
          <xs:element minOccurs="0" name="companyURL" type="xs:string" />
          <xs:element minOccurs="0" name="competitors" type="xs:string" />
          <xs:element minOccurs="0" name="culture" type="xs:string" />
          <xs:element minOccurs="0" name="customDate1" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customDate2" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customDate3" type="xs:dateTime" />
          <xs:element minOccurs="0" name="customFloat1" type="xs:double" />
          <xs:element minOccurs="0" name="customFloat2" type="xs:double" />
          <xs:element minOccurs="0" name="customFloat3" type="xs:double" />
          <xs:element minOccurs="0" name="customInt1" type="xs:int" />
          <xs:element minOccurs="0" name="customInt2" type="xs:int" />
          <xs:element minOccurs="0" name="customInt3" type="xs:int" />
          <xs:element minOccurs="0" name="customText1" type="xs:string" />
          <xs:element minOccurs="0" name="customText10" type="xs:string" />
          <xs:element minOccurs="0" name="customText11" type="xs:string" />
          <xs:element minOccurs="0" name="customText12" type="xs:string" />
          <xs:element minOccurs="0" name="customText13" type="xs:string" />
          <xs:element minOccurs="0" name="customText14" type="xs:string" />
          <xs:element minOccurs="0" name="customText15" type="xs:string" />
          <xs:element minOccurs="0" name="customText16" type="xs:string" />
          <xs:element minOccurs="0" name="customText17" type="xs:string" />
          <xs:element minOccurs="0" name="customText18" type="xs:string" />
          <xs:element minOccurs="0" name="customText19" type="xs:string" />
          <xs:element minOccurs="0" name="customText2" type="xs:string" />
          <xs:element minOccurs="0" name="customText20" type="xs:string" />
          <xs:element minOccurs="0" name="customText3" type="xs:string" />
          <xs:element minOccurs="0" name="customText4" type="xs:string" />
          <xs:element minOccurs="0" name="customText5" type="xs:string" />
          <xs:element minOccurs="0" name="customText6" type="xs:string" />
          <xs:element minOccurs="0" name="customText7" type="xs:string" />
          <xs:element minOccurs="0" name="customText8" type="xs:string" />
          <xs:element minOccurs="0" name="customText9" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock1" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock2" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock3" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock4" type="xs:string" />
          <xs:element minOccurs="0" name="customTextBlock5" type="xs:string" />
          <xs:element minOccurs="0" name="dateAdded" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dateFounded" type="xs:dateTime" />
          <xs:element minOccurs="0" name="departmentID" type="xs:int" />
          <xs:element minOccurs="0" name="externalID" type="xs:string" />
          <xs:element minOccurs="0" name="fax" type="xs:string" />
          <xs:element minOccurs="0" name="feeArrangement" type="xs:double" />
          <xs:element minOccurs="0" name="funding" type="xs:string" />
          <xs:element minOccurs="0" name="industryList" type="xs:string" />
          <xs:element minOccurs="0" name="invoiceFormat" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="notes" type="xs:string" />
          <xs:element minOccurs="0" name="numEmployees" type="xs:int" />
          <xs:element minOccurs="0" name="numOffices" type="xs:int" />
          <xs:element minOccurs="0" name="ownerShip" type="xs:string" />
          <xs:element minOccurs="0" name="parentClientCorporationID" type="xs:int" />
          <xs:element minOccurs="0" name="phone" type="xs:string" />
          <xs:element minOccurs="0" name="revenue" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="xs:string" />
          <xs:element minOccurs="0" name="taxRate" type="xs:double" />
          <xs:element minOccurs="0" name="tickerSymbol" type="xs:string" />
          <xs:element minOccurs="0" name="workWeekStart" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="clientCorporationCertificationDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:clientCorporationCertificationDtoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="clientCorporationCertificationDtoBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="ns3:abstractDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="certificationID" type="xs:int" />
          <xs:element minOccurs="0" name="clientCorporationCertificationID" type="xs:int" />
          <xs:element minOccurs="0" name="clientCorporationID" type="xs:int" />
          <xs:element minOccurs="0" name="comments" type="xs:string" />
          <xs:element minOccurs="0" name="dateLastModified" type="xs:dateTime" />
          <xs:element minOccurs="0" name="location" type="xs:string" />
          <xs:element minOccurs="0" name="migrateGUID" type="xs:string" />
          <xs:element minOccurs="0" name="modifyingUserID" type="xs:int" />
          <xs:element minOccurs="0" name="offsetDays" type="xs:int" />
          <xs:element minOccurs="0" name="quantity" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="clientCorporationInvoiceGroupDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:clientCorporationInvoiceGroupDtoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="clientCorporationInvoiceGroupDtoBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="ns3:abstractDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="clientCorporationID" type="xs:int" />
          <xs:element minOccurs="0" name="clientCorporationInvoiceGroup" type="xs:int" />
          <xs:element minOccurs="0" name="invoiceGroupID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="clientContactApiAssociation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="businessSectors" />
      <xs:enumeration value="categories" />
      <xs:enumeration value="secondaryOwners" />
      <xs:enumeration value="skills" />
      <xs:enumeration value="specialties" />
      <xs:enumeration value="tearsheets" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="clientContactApiProperty">
    <xs:restriction base="xs:string">
      <xs:enumeration value="userID" />
      <xs:enumeration value="categoryID" />
      <xs:enumeration value="certifications" />
      <xs:enumeration value="clientCorporationID" />
      <xs:enumeration value="comments" />
      <xs:enumeration value="customTextBlock1" />
      <xs:enumeration value="customTextBlock2" />
      <xs:enumeration value="customTextBlock3" />
      <xs:enumeration value="customTextBlock4" />
      <xs:enumeration value="customTextBlock5" />
      <xs:enumeration value="dateAdded" />
      <xs:enumeration value="dateLastVisit" />
      <xs:enumeration value="deleteMe" />
      <xs:enumeration value="description" />
      <xs:enumeration value="desiredCategories" />
      <xs:enumeration value="desiredSkills" />
      <xs:enumeration value="desiredSpecialties" />
      <xs:enumeration value="division" />
      <xs:enumeration value="externalID" />
      <xs:enumeration value="isDeleted" />
      <xs:enumeration value="linkedPersonID" />
      <xs:enumeration value="migrateGUID" />
      <xs:enumeration value="numEmployees" />
      <xs:enumeration value="office" />
      <xs:enumeration value="ownerID" />
      <xs:enumeration value="password" />
      <xs:enumeration value="preferredContact" />
      <xs:enumeration value="referredByPersonID" />
      <xs:enumeration value="reportToPersonID" />
      <xs:enumeration value="secondaryAddress" />
      <xs:enumeration value="source" />
      <xs:enumeration value="status" />
      <xs:enumeration value="type" />
      <xs:enumeration value="address" />
      <xs:enumeration value="customDate1" />
      <xs:enumeration value="customDate2" />
      <xs:enumeration value="customDate3" />
      <xs:enumeration value="customFloat1" />
      <xs:enumeration value="customFloat2" />
      <xs:enumeration value="customFloat3" />
      <xs:enumeration value="customInt1" />
      <xs:enumeration value="customInt2" />
      <xs:enumeration value="customInt3" />
      <xs:enumeration value="customText1" />
      <xs:enumeration value="customText10" />
      <xs:enumeration value="customText11" />
      <xs:enumeration value="customText12" />
      <xs:enumeration value="customText13" />
      <xs:enumeration value="customText14" />
      <xs:enumeration value="customText15" />
      <xs:enumeration value="customText16" />
      <xs:enumeration value="customText17" />
      <xs:enumeration value="customText18" />
      <xs:enumeration value="customText19" />
      <xs:enumeration value="customText2" />
      <xs:enumeration value="customText20" />
      <xs:enumeration value="customText3" />
      <xs:enumeration value="customText4" />
      <xs:enumeration value="customText5" />
      <xs:enumeration value="customText6" />
      <xs:enumeration value="customText7" />
      <xs:enumeration value="customText8" />
      <xs:enumeration value="customText9" />
      <xs:enumeration value="dateLastComment" />
      <xs:enumeration value="email" />
      <xs:enumeration value="email2" />
      <xs:enumeration value="email3" />
      <xs:enumeration value="fax" />
      <xs:enumeration value="fax2" />
      <xs:enumeration value="fax3" />
      <xs:enumeration value="firstName" />
      <xs:enumeration value="isDayLightSavings" />
      <xs:enumeration value="isLockedOut" />
      <xs:enumeration value="lastName" />
      <xs:enumeration value="massMailOptOut" />
      <xs:enumeration value="middleName" />
      <xs:enumeration value="mobile" />
      <xs:enumeration value="name" />
      <xs:enumeration value="namePrefix" />
      <xs:enumeration value="nameSuffix" />
      <xs:enumeration value="nickName" />
      <xs:enumeration value="occupation" />
      <xs:enumeration value="pager" />
      <xs:enumeration value="phone" />
      <xs:enumeration value="phone2" />
      <xs:enumeration value="phone3" />
      <xs:enumeration value="smsOptIn" />
      <xs:enumeration value="timeZoneOffsetEST" />
      <xs:enumeration value="userTypeID" />
      <xs:enumeration value="username" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="clientCorporationApiAssociation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="certifications" />
      <xs:enumeration value="childClientCorporations" />
      <xs:enumeration value="clientContacts" />
      <xs:enumeration value="invoiceGroups" />
      <xs:enumeration value="invoices" />
      <xs:enumeration value="rateCards" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="clientCorporationApiProperty">
    <xs:restriction base="xs:string">
      <xs:enumeration value="clientCorporationID" />
      <xs:enumeration value="address" />
      <xs:enumeration value="annualRevenue" />
      <xs:enumeration value="billingAddress" />
      <xs:enumeration value="billingContact" />
      <xs:enumeration value="billingFrequency" />
      <xs:enumeration value="billingPhone" />
      <xs:enumeration value="businessSectorList" />
      <xs:enumeration value="companyDescription" />
      <xs:enumeration value="companyURL" />
      <xs:enumeration value="competitors" />
      <xs:enumeration value="culture" />
      <xs:enumeration value="customDate1" />
      <xs:enumeration value="customDate2" />
      <xs:enumeration value="customDate3" />
      <xs:enumeration value="customFloat1" />
      <xs:enumeration value="customFloat2" />
      <xs:enumeration value="customFloat3" />
      <xs:enumeration value="customInt1" />
      <xs:enumeration value="customInt2" />
      <xs:enumeration value="customInt3" />
      <xs:enumeration value="customText1" />
      <xs:enumeration value="customText10" />
      <xs:enumeration value="customText11" />
      <xs:enumeration value="customText12" />
      <xs:enumeration value="customText13" />
      <xs:enumeration value="customText14" />
      <xs:enumeration value="customText15" />
      <xs:enumeration value="customText16" />
      <xs:enumeration value="customText17" />
      <xs:enumeration value="customText18" />
      <xs:enumeration value="customText19" />
      <xs:enumeration value="customText2" />
      <xs:enumeration value="customText20" />
      <xs:enumeration value="customText3" />
      <xs:enumeration value="customText4" />
      <xs:enumeration value="customText5" />
      <xs:enumeration value="customText6" />
      <xs:enumeration value="customText7" />
      <xs:enumeration value="customText8" />
      <xs:enumeration value="customText9" />
      <xs:enumeration value="customTextBlock1" />
      <xs:enumeration value="customTextBlock2" />
      <xs:enumeration value="customTextBlock3" />
      <xs:enumeration value="customTextBlock4" />
      <xs:enumeration value="customTextBlock5" />
      <xs:enumeration value="dateAdded" />
      <xs:enumeration value="dateFounded" />
      <xs:enumeration value="departmentID" />
      <xs:enumeration value="externalID" />
      <xs:enumeration value="fax" />
      <xs:enumeration value="feeArrangement" />
      <xs:enumeration value="funding" />
      <xs:enumeration value="industryList" />
      <xs:enumeration value="invoiceFormat" />
      <xs:enumeration value="name" />
      <xs:enumeration value="notes" />
      <xs:enumeration value="numEmployees" />
      <xs:enumeration value="numOffices" />
      <xs:enumeration value="ownerShip" />
      <xs:enumeration value="parentClientCorporationID" />
      <xs:enumeration value="phone" />
      <xs:enumeration value="revenue" />
      <xs:enumeration value="status" />
      <xs:enumeration value="taxRate" />
      <xs:enumeration value="tickerSymbol" />
      <xs:enumeration value="workWeekStart" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="clientCorporationCertificationApiAssociation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="alternateCertifications" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="clientCorporationCertificationApiProperty">
    <xs:restriction base="xs:string">
      <xs:enumeration value="clientCorporationCertificationID" />
      <xs:enumeration value="certificationID" />
      <xs:enumeration value="clientCorporationID" />
      <xs:enumeration value="comments" />
      <xs:enumeration value="dateLastModified" />
      <xs:enumeration value="location" />
      <xs:enumeration value="migrateGUID" />
      <xs:enumeration value="modifyingUserID" />
      <xs:enumeration value="offsetDays" />
      <xs:enumeration value="quantity" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="clientCorporationInvoiceGroupApiProperty">
    <xs:restriction base="xs:string">
      <xs:enumeration value="clientCorporationInvoiceGroup" />
      <xs:enumeration value="clientCorporationID" />
      <xs:enumeration value="invoiceGroupID" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>