SoapRequestHelper/Connected Services/ServiceTest/item16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://distlist.entity.bullhorn.com/" xmlns:ns1="http://entity.bullhorn.com/" targetNamespace="http://distlist.entity.bullhorn.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.bullhornstaffing.com/webservices-2.6/?xsd=21" namespace="http://entity.bullhorn.com/" />
  <xs:complexType name="distributionListDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:distributionListDtoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="distributionListDtoBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="ns1:abstractDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="dateAdded" type="xs:dateTime" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="distributionListID" type="xs:int" />
          <xs:element minOccurs="0" name="groupName" type="xs:string" />
          <xs:element minOccurs="0" name="isPrivate" type="xs:boolean" />
          <xs:element minOccurs="0" name="isReadOnly" type="xs:boolean" />
          <xs:element minOccurs="0" name="migrateGUID" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="ownerID" type="xs:int" />
          <xs:element minOccurs="0" name="searchURL" type="xs:string" />
          <xs:element minOccurs="0" name="type" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="distributionListApiAssociation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="members" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="distributionListApiProperty">
    <xs:restriction base="xs:string">
      <xs:enumeration value="distributionListID" />
      <xs:enumeration value="dateAdded" />
      <xs:enumeration value="description" />
      <xs:enumeration value="groupName" />
      <xs:enumeration value="isPrivate" />
      <xs:enumeration value="isReadOnly" />
      <xs:enumeration value="migrateGUID" />
      <xs:enumeration value="name" />
      <xs:enumeration value="ownerID" />
      <xs:enumeration value="searchURL" />
      <xs:enumeration value="type" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>