SoapRequestHelper/Connected Services/ServiceTest/item32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://struct.apiservice.bullhorn.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="entityNameIdPair">
    <xs:sequence>
      <xs:element minOccurs="0" name="entityId" type="xs:anyType" />
      <xs:element minOccurs="0" name="entityName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>