SoapRequestHelper/Connected Services/ServiceTest/item25.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://oauth.apiservice.bullhorn.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="partnerSessionRequest">
    <xs:sequence>
      <xs:element name="corporationId" type="xs:int" />
      <xs:element minOccurs="0" name="oauth_consumerKey" type="xs:string" />
      <xs:element minOccurs="0" name="oauth_nonce" type="xs:string" />
      <xs:element minOccurs="0" name="oauth_signature" type="xs:string" />
      <xs:element minOccurs="0" name="oauth_signatureMethod" type="xs:string" />
      <xs:element minOccurs="0" name="oauth_timeStamp" type="xs:string" />
      <xs:element minOccurs="0" name="oauth_version" type="xs:string" />
      <xs:element name="userId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>